// Main Styles 
body {
  overflow: hidden !important;  
}
html {
  overflow-x: hidden !important;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

// Main Menu
.main-Nav {
  position: fixed;
  width: 100%;
  z-index: 99999;
  background-color: transparent;
  #{$start-direction}:0;
  // Hide Nav On Slide
  .bgNav {
    .topNav {
      padding-top: 25px;
      padding-#{$start-direction}: 80px;
      padding-#{$end-direction}: 80px;
      display: flex;
      align-items: center;

      .a-logo {
        display: block;
        margin-#{$start-direction}: 60px;
        .logo-color{
          display: none;
        }
        .logo-white{
          display: block;
        }
      }

      // Top Links 
      .top-links{
        display: flex;
        justify-content: flex-end;
        padding: 0;
        padding-left: 10px;
        font-size: 16px;
        color: $white;
        margin-bottom: 14px;
        .search-toggle {
          background-image: url("../images/shared/Search.svg");
          background-repeat: no-repeat;
        }
        .lang {            
          background-image: url("../images/shared/lang.svg");
          background-repeat: no-repeat;
          padding-left: 30px;
        }
        a {
          font-size: inherit;
          color: inherit;
          text-decoration: none;
          padding-right: 30px;
        }
        // Search Expanded
        .search-box {
          #{$end-direction}: 0;
          display: none;
          position: absolute !important;
          top: 70px ;
          #{$end-direction}: 0 !important;
          #{$start-direction}: 0 !important;
          bottom: 0 !important;
          z-index: 9999 !important;
          width: 100% !important;

          .search-full-area {
            backdrop-filter: blur(4px);
            // Button 
            .search-btn {
              position: absolute;
              top: 30px;
              #{$start-direction}: 11%;
              background: none;
              border: none;
              min-width: auto;
            }
            input[type="text"]{            
              color: $white; 
              font-size: 16px;  
              padding-#{$end-direction}: 14%;
              padding-#{$start-direction}: 13%;
              padding-top: 30px;
              padding-bottom: 30px;
              border-radius: 0;
              border: none;
              box-shadow: none;
              background-color: rgba($color: $medium-blue, $alpha: 0.5);
              z-index: 9999;    
            }
            // Close 
            .exit-btn {
              position: absolute;
              top: 30px;
              #{$end-direction}: 5.5%;
            }
            // Placeholder 
            ::placeholder {
              color: $white;
            }
            ::-webkit-input-placeholder { /* Edge */
              color: $white;      
            }        
            :-ms-input-placeholder { /* Internet Explorer */
              color: $white;      
            }   
          }  
        }
      }

      // Main Menu 
      .main-navbar {
        .navbar {
          padding: 0;
          float: left;          
          .nav-wrapper {
            display: flex;
            width: 100%;
            // Menu Items  
            .nav-item {
              // Margin 
              margin-#{$end-direction}: 40px;
              &:last-child {
                margin-#{$end-direction}: 0;
              }
              // Links
              .nav-link {
                font-size: 16px;
                color: $white;
                transition: 300ms;
                padding: 0;
                padding-#{$end-direction}:16px ;
                position: relative;
                padding-top: 10px;
                padding-bottom: 16px;
                // Arrow Down
                &::after{
                  background-image: url(../images/shared/nav-arrow.svg);
                  border: none;
                  position: absolute;
                  width: 10px;
                  height: 6px;
                  #{$end-direction}:0;
                  top: 43%;
                  margin: 0;
                }
              }
              .dropdown-menu {
                #{$start-direction}: auto;
                #{$end-direction}: auto;
                padding: 8px;
                color: $white;
                background-color: $medium-blue;
                border-radius: 0px;
                text-align: inherit;
                font-size: 13px;
                border: 0;
          
                li {
                  margin-bottom: 2px;
                  &:last-child{
                    margin-bottom: 0;
                  }
                  a {
                    font-size: inherit;
                    color: inherit;
                    transition: 300ms;
                    padding: 10px;
                    &:hover{
                      background-color: $blue;
                    }
                  }
                }
              }
              &:first-child{
                .dropdown-menu {
                  #{$start-direction}:-100px;
                }
              }
            }
          }  
        }
      }
    }
  }

  // Fixed Menu
  &.fixedTop {
    background-color: $white;
    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.05);
    .bgNav {
      .topNav {
        padding-top: 20px;
        padding-bottom: 10px;
        .a-logo {
          display: block;
          margin-#{$start-direction}: 60px;
          .logo-white{
            display: none;
          }
          .logo-color{
            display: block;
          }
        }
        // Top Links 
        .top-links {
          color: $dark-text;
          .search-toggle {
            background-image: url("../images/shared/Search-b.svg");
            background-repeat: no-repeat;
          }
          .lang {            
            background-image: url("../images/shared/lang-b.svg");
            background-repeat: no-repeat;
            padding-left: 30px;
          }
          a {
            &:hover {
              color: $blue;
            }
          }
          // Search Expanded
          .search-box {
            .search-full-area {              
              input[type="text"]{    
                background-color: rgba($color: $medium-blue, $alpha: 0.5); 
              }              
            }  
          }
        }
        // Main Menu 
        .main-navbar {
          .navbar {        
            .nav-wrapper {
              .nav-item {
                .nav-link {
                  color: $dark-text;
                  &::after{
                    background-image: url(../images/shared/nav-arrow-b.svg);
                  }
                  &:hover {
                    color: $blue;
                  }
                }
              }
            }  
          }
        }
      }
    }
  }
}

// HomeBanner 
.banner {
  // White Logo 
  .logo-img{
    position: absolute;
    z-index: 99;
    top: 30px;
    #{$start-direction}:10vw;
    img{
      width: 100%;
      height: 100%;
    }
  }
  // Banners 
  .container-fluid {
    padding: 0;
    .item {
      display: flex;
      // 1 
      .imgbox1 {
        width: 100%;
        height: 100vh;
        position: relative;
        background-image: url(../images/banner/banner1.png);
        background-size: cover;
        background-position: center;
        background-color: rgba($color: $dark-text , $alpha: 0.8);
        background-blend-mode: multiply;

        .content {
          padding-right: 140px;
          position: relative;
          top: 30%;
          width: 70%;
          h2 {
            font-size: 32px;
            font-family: "NCSP-Medium";
            color: $white;
            line-height: 1.6;
          }
          p {
            font-size: 16px;
            font-family: "NCSP-Light";
            color: $white;
          }
          .more {
            font-size: 13px;
            font-family: "NCSP-Medium";
            color: $white; 
            border-radius: 8px;
            border: 1px solid $aqua;
            background-color: $aqua;
            padding: 10px 20px;
            margin-top: 20px;

            &:hover {              
              border: 1px solid $medium-blue;
              background-color: $medium-blue;
            }

            img {
              width: 28px;
              display: inline;
              padding-right: 8px;
            }
          }
        }
      }
      // 2
      .imgbox2 {
        width: 15%;
        height: 100vh;
        background-image: url(../images/banner/banner2.png);
        background-size: cover;
        background-position: center;         
        background-color: rgba($color: $dark-text , $alpha: 0.7);
        background-blend-mode: multiply;
        &:hover {
          width: 30%;
          cursor: pointer;        
        }
        p {
          font-size: 14px;
          font-family: "NCSP-Medium";
          text-align: center;
          color: $white;
          padding: 15px;
          position: relative;
          top: 30%;
        }
      }
      // 3
      .imgbox3 {
        width: 15%;
        height: 100vh;
        background-image: url(../images/banner/banner3.png);
        background-size: cover;
        background-position: center;        
        background-color: rgba($color: $dark-text , $alpha: 0.7);
        background-blend-mode: multiply;
        &:hover {
          width: 30%;
          cursor: pointer;        
        }
        p {
          font-size: 14px;
          font-family: "NCSP-Medium";
          text-align: center;
          color: $white;
          padding: 15px;
          position: relative;
          top: 30%;
        }
      }
    }
  }
}

// About
.about {
  background-repeat: no-repeat;
  background-image: url(../images/pattern-color.svg);
  background-position: 220px 71px;
  background-size: 40%;
  padding: 150px 0;
  .container {
    .content {
      padding: 60px 40px;
      padding-#{$start-direction}:0 ;
      // Title 
      .section-header {
        width: 23%;
        font-size: 30px;
        font-family: "NCSP-Medium";
        color: $dark-blue;
        position: relative;
        padding-bottom: 15px;
        border-bottom: 2px solid $medium-grey;
        margin-bottom: 30px;
        &::before, &::after {
          content: '';
          width: 22px;
          height: 8px;
          border-radius: 7px 0px 7px 0px;
          border: 0 solid;
          position: absolute;
          transform: rotate(50deg);
        }
        &::before {
          left: -33px;
          bottom: -2px;
          background: $aqua;
        }
        &::after {
          left: -20px;
          bottom: 0px;
          background: $blue;
        }
      }
      p {
        font-size: 20px; 
        font-family: "NCSP-Light";
        color: $dark-text;
        line-height: 2;
        text-align: justify;
      }
    }

    // Image
    .imgBox{
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        width: 80%;
        float: left;
        // margin-left: 40px;
      }
    }
  }
}

// Gallery 
.gallery {
  padding: 60px 0 150px;
  background-color: $bg-color;
  height: 1240px;
  // Title
  .section-header {
    width: 15%;
    font-size: 30px;
    font-family: "NCSP-Medium";
    color: $dark-blue;
    position: relative;
    padding-bottom: 15px;
    border-bottom: 2px solid $medium-grey;
    text-align: center;

    &::before, &::after {
      content: '';
      width: 22px;
      height: 8px;
      border-radius: 7px 0px 7px 0px;
      border: 0 solid;
      position: absolute;
      transform: rotate(50deg);
    }
    &::before {
      left: -33px;
      bottom: -2px;
      background: $aqua;
    }
    &::after {
      left: -20px;
      bottom: 0px;
      background: $blue;
    }
  }

  .centered {
    left: 50%;
    margin: auto;
    margin-bottom: 60px;
    position: inherit;
  }

  .container {
    .tabsImage {
      // padding: 20px 0;
      
      .imgbox {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        border-radius: 20px;
        position: relative;
        background-image: url(../images/gallery/gallery1.png);
        // background-size: cover;
        background-position: center;
        transition: 300ms;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
      .imgbox:nth-child(2) {
        background-image: url(../images/gallery/gallery2.png);
        // background-size: cover;
        background-position: center;
      }
      .imgbox:nth-child(3) {
        background-image: url(../images/gallery/gallery3.png);
        // background-size: cover;
        background-position: center;
      }

      // Title
      h4 {
        padding: 30px;
        color: $white;
        font-size: 35px;
        font-family: "NCSP-Medium";
        span {
          padding-left: 10px;
          color: $white;
          font-size: 30px;
          font-family: "NCSP-Light";
        }
      }
      p {
        padding: 30px; 
        color: $white; 
        font-size: 25px;
        position: absolute; 
        bottom: 2%;
        opacity: 0;
      }

      .imgbox:hover {
        width: 100%;
        height: 505px;
        cursor: pointer;        
        p {
          opacity: 1;
        }
      }
    }
  }
}

// Numbers 
.Numbers{
  padding: 80px 0 130px;
  background-color: $medium-blue;
  background-image: url(../images/pattern.svg);
  background-position: -85px center;
  background-repeat: no-repeat;

  // Title
  .section-header {
    width: 15%;
    font-size: 30px;
    font-family: "NCSP-Medium";
    color: $aqua;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 65px !important;
    border-bottom: 2px solid $medium-grey;
    text-align: center;

    &::before, &::after {
      content: '';
      width: 22px;
      height: 8px;
      border-radius: 7px 0px 7px 0px;
      border: 0 solid;
      position: absolute;
      transform: rotate(50deg);
    }
    &::before {
      left: -33px;
      bottom: -2px;
      background: $aqua;
    }
    &::after {
      left: -20px;
      bottom: 0px;
      background: $white;
    }
  }
  .centered {
    left: 50%;
    margin: auto;
    position: inherit;
  }

  // Item
  .item{
    .numCard{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px 25px;

      // Shapes 
      .content-box {
        width: 170px;
        .centered {
          position: absolute;
          top: 45%;
          left: 45%;
          transform: translate(-50%, -50%);
          h4 {
            font-size: 25px;
            font-family: "NCSP-Medium";
            color: $dark-blue;
            direction: ltr;
            padding-bottom: 10px;
          }
          .counter {
            animation-duration: 1s;
            animation-delay: 0s;
          }
        }
        img {
          width: 165px;
        }
        p {
          font-size: 20px;
          font-family: "NCSP-Medium";
          color: $white;
          text-align: center;
          padding-top: 10px;
        }
      }
    }
  }  
}

// Map 
.map{
  .mapBanner{
    height: 100vh;
    position: relative;
    padding-top: 100px;
    // Background
    .bgBox{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      #{$start-direction}:0;
      z-index: -2;    
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    // Content
    .content-box{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding-#{$start-direction}: 30px;
      padding-#{$end-direction}: 30px;
      h2 {
        font-size: 30px;
        font-family: "NCSP-Medium";
        color: $white;
        padding-bottom: 15px;
      }
      // Tabs  
      .tags{
        margin-top: 0;
        padding: 0;
        ul.nav {
          color: $white;
          padding-right: 0;
          // Items 
          li {
            font-size: 12px;
            font-family: "NCSP-Medium";
            margin-#{$end-direction}: 5px;
            margin-bottom: 10px; 
            button {
              width: 100%;
              height: 30px;
              color: inherit;
              padding-top: 5px;
              border-radius: 20px;              
              border: 1px solid $white;
              background-color: transparent;

              // Active 
              &.active {
                color: $white;
                border: 1px solid $dark-blue;
                background: $dark-blue;
              }
            }
            &:last-child{
              margin-#{$end-direction}: 0;
            }
          }
        }
      }
      // City
      .numBox {
        h1 {
          color: $white;
          font-size: 40px;
          font-family: "NCSP-Medium";
          padding-top: 30px;
          padding-bottom: 30px;
        }
        .Num {
          color: $white;
          padding: 10px;
          border: 1px solid $white;
          border-radius: 15px;
          width: 50%;
          ul {
            display: flex;
            padding-right: 10px;
            li {
              list-style-type: disc;
              padding-left: 30px;
            }
          }          
        }
        .number {
          font-size: 35px;
          font-family: "NCSP-Bold";
          margin: 0;
          padding: 0;
        }
      }
    }
    // Map 
    .mapBox{
      position: relative;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

// News
.bgNews {
  background-image: url("../images/pattern.svg");
  background-repeat: no-repeat;
  background: rgb(0,51,145);
  background: linear-gradient(180deg, rgba(0,51,145,1) 0%, rgba(20,95,255,1) 100%);

  // Tabs  
  .news-tabs{
    margin-top: 70px;
    ul.nav {
      color: $white;
      width: max-content;
      margin: 0 auto;
      margin-bottom: 70px;
      padding: 0;
      background-color: transparent;     

      // Items 
      li {
        width: 150px;
        height: 50px;
        margin-#{$end-direction}: 10px;
        background-color: transparent;
        font-size: 14px;
        font-family: "NCSP-Medium";
        border-radius: 25px;

        button{
          width: 100%;
          height: 100%;
          font-size: 16px;
          font-family: "NCSP-Medium";
          font-weight: inherit;
          color: inherit;
          transition: 300ms;
          border-radius: 25px;
          border: 1px solid $white;

          // Active 
          &.active {
            border: 1px solid $blue;
            background: linear-gradient(90deg, $purple 0%, $aqua 0%, $blue 100%);
          }
        }

        &:last-child{
          margin-#{$end-direction}: 0;
        }
      }
    }
    .more {      
      width: 150px;
      height: 50px;
      color: $white;
      font-size: 16px;
      font-family: "NCSP-Medium";
      background-color: transparent;
      border: 1px solid $white;
      border-radius: 25px;   
      padding: 5px 20px;
      text-align: center;
      margin-bottom: 70px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $dark-blue;
        border: 1px solid $dark-blue;
      }
    }
  }
  // Card
  .cardNews {
    transition: 0.3s;
    height: 480px;
    margin-bottom: 50px;
    position: relative;
    border-radius: 20px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      width: 96%;
      height: 50%;
      bottom: 5px;
      #{$start-direction}: -3px;
      border-radius: 50px;
      background-color: $purple;
      z-index: -1;
      transform: rotate(-6deg);
    }
    
    // Link 
    .forClick {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    // Image
    .CardImg {
      height: 240px;
      transition: 0.3s;
      overflow: hidden;
      border-radius: 20px 20px 0 0;
      img {
        height: 100%;
        max-width: 100%;
        transition: 0.3s;
        width: 100%;
      }
    }
    // Hover 
    &:hover {
      .CardImg {
        height: 240px; 
        img {
          transform: scale(1.2);
        }
      }
    }
    // Text 
    .cardText {
      padding: 20px;
      background-color: $white;
      border-radius: 0 0 20px 20px;

      .title {
        color: $dark-blue;
        font-size: 16px;
        font-family: "NCSP-Medium";
        margin-bottom: 15px;
        line-height: 27px;
        height: calc(27px * 2);
      }
      .date {
        margin-bottom: 6px;
        display: flex;
        line-height: 18px;
        height: calc(18px * 1);
        span {
          color: $blue;
          font-size: 12px;
          font-family: "NCSP-Regular";
          padding-#{$start-direction}: 5px;
          line-height: 18px;
          height: calc(18px * 1);
        }
        img {
          max-width: 16px;
        }
      }
      .paraghCard {
        font-size: 15px;
        font-family: "NCSP-Light";
        color: $dark-text;
        line-height: 21px;
        height: calc(21px * 4);
      }
    }    
  }
  .centered {
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    margin-bottom: 20px;
    position: inherit;
  }
}

// Partners
.partners {
  background-color: $white;
  padding: 60px 0 90px;

  // Title
  .section-header {
    width: 10%;
    font-size: 26px;
    font-family: "NCSP-Medium";
    color: $dark-blue;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 40px;
    border-bottom: 2px solid $medium-grey;
    text-align: center;

    &::before, &::after {
      content: '';
      width: 22px;
      height: 8px;
      border-radius: 7px 0px 7px 0px;
      border: 0 solid;
      position: absolute;
      transform: rotate(50deg);
    }
    &::before {
      left: -33px;
      bottom: -2px;
      background: $aqua;
    }
    &::after {
      left: -20px;
      bottom: 0px;
      background: $blue;
    }
  }

  .centered {
    left: 50%;
    margin: auto;
    position: sticky;
    margin-bottom: 95px;
    transform: translateX(-50%);
  }

  .item {
    width: 300px;
    height: 120px;
    background-color: $white;
    border: 1px solid $medium-grey;
    border-radius: 15px;

    // Logos
    .logoBox {
      img {
        filter: unset;        
      }
      &:hover {
        img {
          filter: grayscale(1);
          transition: all  0.5s;
        }
      }
    }
  }
}

// Footer 
footer {
  color: $white;
  background-color: $dark-blue;

  // Top 
  .top-footer {
    padding: 70px 0;
    .footer-logo {
      margin-bottom: 24px;   
    }
    .social-media {
      display: flex;
      a {
        display: flex;
        margin-#{$end-direction}: 28px;
        align-items: center;
        justify-content: center;
        &:last-child{
          margin-#{$start-direction}: 0;
        }
        img{
          max-height: 20px;
        }        
      }
    }
    // Menu 
    h5 {
      font-size: 17px;
      font-family: "NCSP-Medium";
      margin-bottom: 15px;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        font-size: 14px;  
        margin-bottom: 5px;
        &:last-child{
          margin-bottom: 0;
        }
        a {
          color: $white;
          &:hover{
            color: $aqua;
          }
        }
      }
    }
    .contactUs {
      ul{
        li{
          &:nth-child(2){
            a{
              direction: ltr;
              display: inline-block;
            }
          }
        }
      }
      img {
        width: 32px;
        margin-left: 5px;
      }
    }
  }
  // Bottom 
  .bottom-footer {
    background-color: $dark-blue;
    .copyright{
      position: relative;
      display: flex;
      justify-content: center;
      padding-top: 15px;
      padding-bottom: 15px;
      &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $medium-blue;
        top: 0;
      }
      p {
        font-size: 13px;
        font-family: "NCSP-Regular";
        margin-bottom: 0;
      }
    }  
  }
}

/* PAGES */ 
.inner {
  // Main Menu
  .main-Nav {
    position: relative;
    background-color: $white;
    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.05);
    .bgNav {
      .topNav {
        padding-top: 30px;
        padding-bottom: 20px;
        .a-logo {
          display: block;
          margin-#{$start-direction}: 60px;
        }
        // Top Links 
        .top-links {
          color: $dark-text;
          .search-toggle {
            background-image: url("../images/shared/Search-b.svg");
            background-repeat: no-repeat;
          }
          .lang {            
            background-image: url("../images/shared/lang-b.svg");
            background-repeat: no-repeat;
            padding-left: 30px;
          }
          a {
            &:hover {
              color: $blue;
            }
          }
          // Search Expanded
          .search-box {
            .search-full-area {              
              input[type="text"]{    
                background-color: rgba($color: $medium-blue, $alpha: 0.5); 
              }              
            }  
          }
        }
        // Main Menu 
        .main-navbar {
          .navbar {        
            .nav-wrapper {
              .nav-item {
                .nav-link {
                  color: $dark-text;
                  &::after{
                    background-image: url(../images/shared/nav-arrow-b.svg);
                  }
                  &:hover {
                    color: $blue;
                  }
                }
              }
            }  
          }
        }
      }
    }
  }  
}

// Breadcrumb 
.breadcrumb {
  height: 200px;
  background-color: $purple;
  background-image: url(../images/bread-pattern.svg);
  background-size: cover;
  margin-bottom: 0;

  .items {
    margin: 0;
    height: 60px;
    align-items: center;
    display: flex;
    li {
      .home {
        img {
          width: 16px;
        }
      }
      a {
        font-size: 13px;
        font-family: "NCSP-Regular";
        color: $white;
        margin-#{$end-direction}: 5px;
        position: relative;
        padding-#{$end-direction}: 20px;
        // Arrow
        &::after{
          content: "";
          position: absolute;
          #{$end-direction}:5px;
          top: 5px;
          height: 10px;
          width: 5px;
          background-image: url(../images/shared/Arrow.svg);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      span{
        font-size: 13px;
        font-family: "NCSP-Regular";
        color: $white;
      }
    }
  }

  .pageTitle {
    font-size: 26px;
    font-family: "NCSP-Regular";
    color: $white;
    padding-top: 30px;
    padding-right: 40px;
  }
}

// Inner Pages Content 
.inContent {
  height: auto;
  background-color: $bg-color; 

  // Coming Soon
  .soon {
    h2 {
      text-align: center;
      font-size: 40px;
      font-family: "NCSP-Medium";
      color: $medium-blue;
      padding: 50px 0;
    }
    img {
      max-height: 500px;
      width: auto;
      padding-bottom: 50px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // Inner Pages
  .container {
    padding: 40px 0;
    .box-white {
      padding: 50px;
      background-color: $white;
      box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.01);

      // About Us
      .aboutUs {
        display: flex;
        flex-direction: column;
        height: 100%;
        line-height: 2.5;

        h4 {
          font-size: 20px;
          font-family: "NCSP-Medium";
          color: $dark-blue;
          text-align: center;
          margin: 20px 0;
        }
        p {
          font-size: 15px;
          font-family: "NCSP-Regular";
          color: $dark-text;
          margin-bottom: 0px;
          margin-top: 20px;
          text-align: justify;
          &:last-child{
            margin-bottom: 0;
          }          
        }
        span img {
          width: 20px;
        }
        h5 {
          font-size: 14px;
          font-family: "NCSP-Medium";
          color: $dark-blue;
        }       
      }
      
      // Leader Word
      .content-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        position: relative;
        padding: 40px;

        &::before{
          content: "";
          position: absolute;
          top: 0;
          #{$start-direction}:10px;
          width: 35px;
          height: 25px;
          background-image: url(../images/internal/bxs-quote-alt-start.svg);
          background-repeat: no-repeat;          
        }
        &::after{
          content: "";
          position: absolute;
          bottom: 0;
          #{$end-direction}:0;
          width: 35px;
          height: 25px;
          background-image: url(../images/internal/bxs-quote-alt-end.svg);
          background-repeat: no-repeat;          
        }

        // Text 
        .word-content {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-around;

          h4 {
            font-size: 16px;
            font-family: "NCSP-Medium";
            color: $dark-blue;
            text-align: center;
          }
          p {
            font-size: 15px;
            font-family: "NCSP-Regular";
            color: $dark-text;
            margin-bottom: 0px;
            text-align: justify;
            &:last-child{
              margin-bottom: 0;
            }
          }
          h6 {
            font-size: 14px;
            color: $dark-blue;
            text-align: center;
          }
        }
        .signature{
          text-align: center;
          color: $dark-blue;
          margin-bottom: 0;
          align-self: flex-end;
          h6 {
            font-size: 14px;
          }
          h4 {
            font-size: 15px;
            font-family: "NCSP-Medium";
          }
        }
      }

      // Board Members 
      .headBox {
        height: 300px;
        text-align: center;
        background: #ECECEC;
        background-image: url(../images/internal/about/headPattern.svg);
        background-repeat: no-repeat;
        background-position: bottom 0 left 0;
        border-radius: 10px;
        margin-bottom: 25px;
        transition: 0.3s;

        .headImg { 
          text-align: center;
          padding-top: 30px;
          padding-bottom: 15px;
          img {
            width: 150px;
            height: 150px;
            border-radius: 100px;
          }
        }
        .headTitle {
          color: $dark-blue;
          h4 {
            font-size: 16px;
            font-family: "NCSP-Medium";
          }
          h6 {
            font-size: 13px;
          }
        }                   
      }
      .boardBox {
        height: 220px;
        text-align: center;
        background: $white;
        border: 1px solid rgba($color: $medium-grey, $alpha: 0.5);
        border-radius: 10px;
        border-bottom: 8px solid $blue;
        margin-bottom: 25px;
        transition: 0.3s;
        .boardImg {
          text-align: center;
          padding-top: 30px;
          padding-bottom: 15px;
          img {
            width: 100px;
            height: 100px;
            border-radius: 100px;
          }
        }
        .boardTitle {
          h4 {
            font-size: 16px;
            font-family: "NCSP-Medium";
            color: $aqua
          }
          h6 {
            font-size: 13px;
            color: $grey;
          }
        } 
      }

      .boxTitle {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      // Title
      .section-header {
        width: auto;
        font-size: 22px;
        font-family: "NCSP-Medium";
        color: $dark-blue;
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 40px;
        border-bottom: 2px solid $medium-grey;
        text-align: center;

        &::before, &::after {
          content: '';
          width: 22px;
          height: 8px;
          border-radius: 7px 0px 7px 0px;
          border: 0 solid;
          position: absolute;
          transform: rotate(50deg);
        }
        &::before {
          left: -33px;
          bottom: -2px;
          background: $aqua;
        }
        &::after {
          left: -20px;
          bottom: 0px;
          background: $blue;
        }
      }

      // Institutes
      .InstBox {
        height: 220px;
        text-align: center;
        background: $white;
        border: 1px solid rgba($color: $medium-grey, $alpha: 0.5);
        border-radius: 10px;
        border-bottom: 8px solid $blue;
        margin-bottom: 15px;
        transition: 0.3s;
        // Hover View
        &:hover {
          background: $dark-blue;
          .InstLogo {
            opacity: 0.15;
          }
          .detailsHidden {
            display: block;
            top: 50px;
            position: absolute;
            padding: 40px;
            button {
              background-color: $aqua;
              border: 0px solid;
              border-radius: 30px;
              height: 40px;
              color: $dark-blue;
              font-size: 14px;
              font-family: "NCSP-Medium";
              padding: 0px 25px;              
            }
          }
        }
        // Normal View
        .detailsHidden {
          display: none;          
        }
        .InstLogo {
          img {
            height: 220px;
            width: 100%;
            border-bottom: 8px solid $blue;
            border-radius: 10px;
          }          
        }          
      }
      .InstTitle {
        h4 {
          font-size: 15px;
          font-family: "NCSP-Medium";
          color: $dark-blue;
          text-align: center;
          margin-bottom: 30px;
        }
      }
      form {
        .form-control {
          font-size: 14px;
          font-family: "NCSP-Regular";
          color: $grey;
        }
        label {
          font-size: 15px;
          font-family: "NCSP-Medium";
          color: $dark-text; 
          .red {
            color: red;
          }
        }
        input {
          padding-top: 15px;
          padding-bottom: 15px;
          margin: 10px 0;
          border-radius: 5px;
          border: 1.5px solid $medium-grey;
          height: 44px;
          box-shadow: none;

          &:focus {
            border-color: $blue;
          }
        }
        select {
          margin: 10px 0;
          border-radius: 5px;
          border: 1.5px solid $medium-grey;
          height: 44px;
          box-shadow: none;
          display: inline-block;
          background-image: url(../images/shared/nav-arrow-b.svg);
          background-position: 10px 20px ;
          background-size: 10px;
          background-repeat: no-repeat;
          cursor: pointer;
          
          &:focus {
            border-color: $blue;
          }
        }
        Button {
          font-size: 13px;
          font-family: "NCSP-Medium";
          height: 40px;
          border: 0;
          border-radius: 5px;
          padding: 0 25px;
          background-color: $blue;
          float: $end-direction;
          &:hover {
            color: $dark-blue;
            background-color: $aqua;
          }
        }
      }  

      // Tabs  
      ul.nav {
        color: $white;
        width: max-content;
        margin: 0 auto;
        margin-bottom: 50px;
        padding: 0;
        background-color: transparent;     

        // Items 
        li {
          width: auto;
          height: 40px;
          margin-#{$end-direction}: 10px;
          background-color: transparent;
          font-family: "NCSP-Medium";
          border-radius: 25px;

          button {
            width: 100%;
            height: 100%;
            font-size: 13px;
            font-family: "NCSP-Medium";
            font-weight: inherit;
            color: $blue;
            transition: 300ms;
            border-radius: 25px;
            border: 1px solid $blue;
            padding: 0 30px;

            // Active 
            &.active {
              color: $white;
              border: 0px solid;
              background: linear-gradient(90deg, $purple 0%, $aqua 0%, $blue 100%);
            }
          }

          &:last-child {
            margin-#{$end-direction}: 0;
          }
        }
      }

      // Search Form
      .search-top {
        margin-bottom: 40px;
        text-align: center;
        .right {
          float: $start-direction;
        }
        .left {
          float: $end-direction;
        }
        input {
          height: 44px;
          border: 1.5px solid $medium-grey;
          border-radius: 4px;
          font-size: 15px;
          transition: 300ms;
          &:focus{
            border-color: $blue;
          }
        }
        input[type=search]{
          padding: 10px 20px;
          width: 300px;
          background-image: url(../images/shared/Search-b.svg);
          background-repeat: no-repeat;
          background-position: 13px 13px;
          background-size: 20px;
        }
        select{
          height: 44px;
          border: 1.5px solid $medium-grey;
          border-radius: 4px;
          font-size: 15px;
          width: 200px;
          margin-#{$start-direction}: 10px;        
          display: inline-block;
          background-image: url(../images/shared/nav-arrow-b.svg);
          background-position: 10px 20px ;
          background-size: 10px;
          cursor: pointer;
          transition: 300ms;
          &:focus {
            border-color: $blue;
            box-shadow: none;
          }
        }
        option {
          font-size: 14px;
          font-family: "NCSP-Regular";
        }
        button {
          font-family: "NCSP-Medium";
          font-size: 13px;
          color: $white; 
          padding: 10px 25px;
          border: 0px solid;
          border-radius: 4px;
          background-color: $blue;
          margin-right: 10px;
          &:hover {
            color: $dark-blue;
            background-color: $aqua;
          }
        }
      }

      // Services
      .serviceBox {
        height: 220px;
        text-align: center;
        background: $white;
        border: 1px solid rgba($color: $medium-grey, $alpha: 0.5);
        border-radius: 10px;
        border-bottom: 8px solid $blue;
        margin-bottom: 25px;
        transition: 0.3s;
        // Hover View
        &:hover {
          background: $dark-blue;
          .SrvLogo {
            opacity: 0.15;
          }
          .SrvIcon {
            display: none;
          } 
          .detailsHidden {
            display: block;
            top: 20px;
            position: absolute;
            h4 {
              font-size: 16px;
              font-family: "NCSP-Medium";
              color: $aqua;
              text-align: center;
            }
            p {
              color: $white;
              font-size: 13px;
              font-family: "NCSP-Medium";
              padding: 5px 20px;
            }
            button {
              background-color: $aqua;
              border: 0px solid;
              border-radius: 30px;
              height: 40px;
              color: $dark-blue;
              font-size: 14px;
              font-family: "NCSP-Medium";
              padding: 0px 25px;              
            }
          }
        }
        // Normal View
        .detailsHidden {
          display: none;          
        }
        .SrvIcon {
          padding: 30px 30px 20px 30px;
        }           
      }
      .srvTitle {
        h4 {
          font-size: 15px;
          font-family: "NCSP-Medium";
          color: $dark-blue;
          text-align: center;
          margin-bottom: 40px;
        }
      }
      // Details
      .serviceDetails{
        .desc {
          h3 {
            font-size: 24px;
            font-family: "NCSP-Regular";
            color: $medium-blue;
            padding-top: 30px;
          }
          p {
            font-size: 16px;
            font-family: "NCSP-Regular";
            line-height: 1.5;
            text-align: justify;
          }
        }
        .srvStart {
          background: $white;
          box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.1);
          padding: 50px;
          h3 {
            font-size: 24px;
            font-family: "NCSP-Regular";
            color: $medium-blue;
            text-align: center;
            margin-bottom: 20px;
          }
          Button {
            color: $white;
            font-size: 15px;
            font-family: "NCSP-Medium";
            height: 40px;
            width: 100%;
            border: 0;
            padding: 0 25px;
            background-color: $medium-blue;
            &:hover {
              color: $dark-blue;
              background-color: $aqua;
            }
          }
        }
        .srvList {
          .list {
            display: flex;
            flex: 0 0 auto;
            margin-bottom: 36px;

            .listIcon {
              width: 36px;
              margin-#{$end-direction}: 15px;
              flex-shrink: 0;
            }
            .listText {
              h3 {
                font-size: 24px;
                font-family: "NCSP-Regular";
                color: $blue;
              }
              p {
                margin-bottom: 12px;
              }
              ul {
                padding-#{$start-direction}: 15px;
                list-style: decimal;
              }
              .ulIcons {
                list-style: none;
                padding: 0;
                display: flex;
                padding: 50px;
                li {
                  width: 210px;
                  padding-#{$end-direction}: 45px;
                  text-align: center;
                  position: relative;
                  z-index: 9;
                  &:last-of-type {
                    &::after {
                      display: none;
                    }
                  }
                  &::after {
                    position: absolute;
                    content: "";
                    left: -25px;
                    top: 67px;
                    width: 50%;
                    height: 10px;
                    background: #eee;
                    z-index: -1;
                  }
                  img {
                    max-width: 125px;
                  }
                  p {
                    height: 60px;
                    overflow: hidden;
                    margin-bottom: 0;
                    margin-top: 25px;
                    text-align: center;
                  }
                }
              }
            }            
            Button {
              color: $white;
              font-size: 15px;
              font-family: "NCSP-Medium";
              height: 40px;
              border: 0;
              padding: 0 25px;
              background-color: $blue;
              &:hover {
                color: $dark-blue;
                background-color: $aqua;
              }
            }
          }
        }
      }

      // Pagination 
      .pagination {
        .page-link {
          position: relative;
          display: block;
          color: $dark-text;
          background: $white;
          box-shadow: 0px 5px 5px rgba($color: #000000, $alpha: 0.05);
          border: 0px solid;
          border-radius: 50%;
          padding: 11px 18px;
          margin-#{$end-direction}: 10px;
          width: 44px;
          height: 44px;
          font-size: 14px;
          &:hover, &.active {
            background: $blue;
            color: $white;
          }
        }
      }

      // News
      .cardNews {
        transition: 0.3s;
        height: 480px;
        margin-bottom: 50px;
        position: relative;
        border-radius: 20px;
        position: relative;
        &::before{
          content: "";
          position: absolute;
          width: 96%;
          height: 50%;
          bottom: 5px;
          #{$start-direction}: -3px;
          border-radius: 50px;
          background-color: $blue;
          z-index: -1;
          transform: rotate(0deg);
        }
        
        // Link 
        .forClick {
          position: absolute;
          width: 100%;
          height: 100%;
        }
        // Image
        .CardImg {
          height: 240px;
          transition: 0.3s;
          overflow: hidden;
          border-radius: 20px 20px 0 0;
          img {
            height: 100%;
            max-width: 100%;
            transition: 0.3s;
            width: 100%;
          }
        }
        // Hover 
        &:hover {
          .CardImg {
            height: 240px; 
            img {
              transform: scale(1.2);
            }
          }
        }
        // Text 
        .cardText {
          padding: 20px;
          background-color: $white;
          box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.1);
          border-radius: 0 0 20px 20px;

          .title {
            color: $dark-blue;
            font-size: 16px;
            font-family: "NCSP-Medium";
            margin-bottom: 15px;
            line-height: 27px;
            height: calc(27px * 2);
          }
          .date {
            margin-bottom: 6px;
            display: flex;
            line-height: 18px;
            height: calc(18px * 1);
            span {
              color: $blue;
              font-size: 12px;
              font-family: "NCSP-Regular";
              padding-#{$start-direction}: 5px;
              line-height: 18px;
              height: calc(18px * 1);
            }
            img {
              max-width: 16px;
            }
          }
          .paraghCard {
            font-size: 15px;
            font-family: "NCSP-Light";
            color: $dark-text;
            line-height: 21px;
            height: calc(21px * 4);
          }
        }    
      }
      // Details
      .newsDetails {
        .newsTitle {
          font-family: "NCSP-Regular";
          font-size: 36px;
          color: $medium-blue;
        }
        .newsDate {
          display: flex;
          .date {
            padding-#{$end-direction}: 30px;
            display: flex;
            align-items: center;
            padding: 15px 0;
            margin-bottom: 0;
            img {
              width: 24px;
            }
            span {
              font-size: 13px;
              font-family: "NCSP-Medium";
              color: $blue;
              padding-#{$start-direction}: 5px;
            }
          }
        }
        .newsImage {
          max-height: 600px;
          width: 100%;
        }
        .newsText {
          padding: 30px 0;
          p {
            text-align: justify;
            margin-bottom: 30px;
          }
        }
        .relateNews {
          h4 {
            font-size: 20px;
            font-family: "NCSP-Medium";
            color: $medium-blue;
            padding-bottom: 15px;
          }
          .cardNews {
            height: 310px;
            // Image
            .CardImg {
              height: auto;
            }
            // Text 
            .cardText {
              padding: 10px 15px;
              height: 110px;
              .title {
                font-size: 14px;
                text-align: justify;
              }
            }    
          }
        }
        .location {
          padding-bottom: 15px;
          span {
            color: $grey;
          }
        }
      }

      // Events
      .events {
        .content {
          position: absolute;
          padding-right: 5%;
          padding-top: 10%;
          width: 70%;
          h2 {
            font-size: 32px;
            font-family: "NCSP-Medium";
            color: $white;
            line-height: 1.6;
          }
          p {
            font-size: 16px;
            font-family: "NCSP-Light";
            color: $white;
          }
          .more {
            font-size: 13px;
            font-family: "NCSP-Medium";
            color: $white; 
            border-radius: 8px;
            border: 1px solid $aqua;
            background-color: $aqua;
            padding: 10px 20px;
            margin-top: 20px;

            &:hover {              
              border: 1px solid $medium-blue;
              background-color: $medium-blue;
            }
          }
        }
        .eventBox {
          display: flex;
          flex: 0 0 auto;
          background-color: $white;
          border: 1px solid #eee;
          border-radius: 10px;
          padding: 20px;
          margin-bottom: 30px;

          .dateShape{
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            background-image: url(../images/internal/events/dateShape.svg);
            background-size: cover;
            width: 135px;
            height: 135px;
      
            .days{
              font-size: 24px;
              font-family: "NCSP-Medium";
              color: $blue;
              padding-#{$end-direction}: 10px;
            }
            .month{
              font-size: 13px;
              font-family: "NCSP-Medium";
              color: $blue;
              padding-#{$end-direction}: 10px;
            }
          }
          .eventText {
            width: 70%;
            margin-#{$start-direction}: 15px;

            h3 {
              color: $medium-blue;
              font-size: 18px;
              font-weight: bold;
              margin-bottom: 10px;
            }
            .location {
              padding: 10px 0;
              span {
                color: $grey;
              }
            }
            p {
              margin-bottom: 0;
            }
          }
        }
      }

      // Media Gallery 
      .galleryBox {
        position: relative;
        margin-bottom: 40px;
        background: $white;
        border: 1px solid rgba($color: $medium-grey, $alpha: 0.5);
        border-radius: 10px;
        border-bottom: 8px solid $blue;        

        // Image
        .glImage {
          width: auto;
          overflow: hidden;
          position: relative;
          img {
            height: 100%;
            transition: 0.4s;
            border-radius: 8px 8px 0 0;
          }
        }
        &:hover {
          .glImage {
            img {
              transform: scale(1.1);
            }
          }
        }

        // Count 
        .glCount {
          height: auto;
          background: $white;
          position: relative;
          padding: 25px 10px 15px;
          a {
            font-size: 14px;
            font-family: "NCSP-Medium";
            color: $blue;
            background: $white;
            min-width: 150px;
            height: 40px;
            display: inline-flex;
            align-items: center;
            justify-content: space-around;
            padding: 0 10px;
            border-radius: 20px;
            box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
            position: absolute;
            top: -25px;
            #{$start-direction}: 20px;
          }
          h2 {
            font-size: 15px;
            font-family: "NCSP-Medium";
            color: #001F5E;
            text-align: center;
          }
        }
      }
      .videoIcon {
        position: absolute;
        top: 30%;
        right: 40%;
        z-index: 999;
      }

      // Download Center
      .downloadCenter {
        height: auto !important;
        .SrvLogo {
          width: 100px;
          display: inline-flex;
          padding: 30px 0;
        }
        // Hover View
        &:hover {
          .detailsHidden {
            display: block;
            top: 25%;
            right: 30%;
            position: absolute;
            button {
              background-color: $aqua;
              border: 0px solid;
              border-radius: 30px;
              height: 40px;
              color: $dark-blue;
              font-size: 14px;
              font-family: "NCSP-Medium";
              padding: 0px 25px;              
            }
          }
        }
      }

      // Contact Us
      .contactBox {
        h3 {
          font-size: 26px; 
          font-family: "NCSP-Regular";
          color: $medium-blue;
          padding-bottom: 15px;
        }
        .address {
          font-size: 16px;
          font-family: "NCSP-Regular";
          color: $dark-text;
          margin: 5px 0 20px; 
          span {
            padding-#{$end-direction}: 10px;
            img {
              width: 32px;
            }
          }
        }
      }
      .contactMap {
        margin-top: 40px;
        .col-md-6 {
          &:first-of-type {
            padding-#{$end-direction}: 0px;
          }
          &:last-of-type {
            padding-#{$start-direction}: 0px;
          }
        }
        h3 {
          font-size: 26px; 
          font-family: "NCSP-Regular";
          color: $medium-blue;
          padding-bottom: 15px;
        }
        .contactForm {
          background: #F4F4F4;
          padding: 60px;

          input {
            font-size: 15px;
            height: 44px;
            width: 100%;
            padding: 10px 20px;
            margin-bottom: 15px;
            border: 1.5px solid $medium-grey;
            border-radius: 4px;
            transition: 300ms;
            &:focus{
              border-color: $blue;
            }
          }
          textarea {
            width: 100%;
            padding: 10px 20px;
            margin-bottom: 15px;
            border: 1.5px solid $medium-grey;
            border-radius: 4px;
            transition: 300ms;
            &:focus{
              border-color: $blue;
            }
          }
          
          button {
            font-family: "NCSP-Medium";
            font-size: 13px;
            color: $white; 
            padding: 10px 25px;
            border: 0px solid;
            border-radius: 4px;
            background-color: $blue;
            float: $end-direction;
            &:hover {
              color: $dark-blue;
              background-color: $aqua;
            }
          }
        }
        .mapIframe {
          iframe {
            width: 100%;
            height: 608px;
          }
        }
      }
    }    
  }

  // Share 
  .share {
    background: $white;
    width: 280px;
    height: 60px;
    margin-top: 40px;

    h4 {
      font-size: 16px;
      font-family: "NCSP-Medium";
      color: $blue;
      height: 55px;
      display: inline-block;
      padding: 20px;
      border-left: 1px solid $medium-grey;

      img{
        margin-#{$end-direction}: 6px;
      }
    }
    a {
      width: 48px;
      height: 60px;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      transition: 300ms;
      background-color: transparent;

      &:hover{
        background-color: $blue;
        img {
          filter: contrast(0) brightness(2);
        }
      }
    }
  }
}

// Careers 
.careers {
  // Banner
  .banner {
    .imgbox1 {
      height: 82vh !important;
    }
  }
  // Life at NCSP   
  .about {
    padding: 90px 0 !important;
    background-image: none !important;
    .section-header {
      width: 85% !important;    
    }
  }
  .SrvIcon {
    img {
      width: 120px;
    }
  }
}