@media(min-width:1650px){
    .container{
        max-width: 1440px;
    }
   .home{
       .container{
           max-width: 1640px;
       }
       .custom-cont{
           max-width: 1350px;
       }
       .custom-cont2{
           max-width: 1440px;
       }
   }
}


@media(max-width:1699.98px){
    .main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .navbar-nav .nav-item{
        margin-#{$end-direction}: 25px;
    }
}


@media (max-width: 1399.68px) {

    .marker-with-popup.reyadh {
        right: 260px;
        top: 389px;
    }
    .marker-with-popup.shamalia {
        right: 325px;
        top: 205px;
    }
    .marker-with-popup.gouf {
        right: 425px;
        top: 195px;
    }
    .marker-with-popup.tabuk {
        right: 480px;
        top: 241px;
    }
    .marker-with-popup.madinah {
        right: 420px;
        top: 350px;
    }
    .marker-with-popup.makkah {
        right: 385px;
        top: 430px;
    }
    .marker-with-popup.gazan {
        right: 350px;
        top: 553px;
    }
    .marker-with-popup.nagran {
        right: 265px;
        top: 525px;
    }
    .marker-with-popup.haael {
        right: 370px;
        top: 270px;
    }
    .marker-with-popup.qasim {
        right: 325px;
        top: 300px;
    }
    .marker-with-popup.asser {
        right: 340px;
        top: 500px;
    }
    .marker-with-popup.baaha {
        right: 383px;
        top: 473px;
    }

    .interactive-map .map-cont .main-content h2 {
        font-size: 30px;
        margin-bottom: 35px;
    }
    .interactive-map .map-cont .tags-content {
        margin-top: 35px;
    }
    .interactive-map .map-cont .tags-content h3 {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .interactive-map .map-cont .tags-content .details .numbers-data > div .number{
        font-size: 35px;
    }
    .interactive-map .map-cont .tags-content .details .numbers-data > div span ,
    .interactive-map .map-cont .tags-content .details ul li ,
    .interactive-map .map-cont .tags-content .details h5
    {
        font-size: 18px;
    }
    .interactive-map .map-cont .svg-map{
        margin-top: 30px;
    }

    .inContent .container .box-white .serviceDetails .srvList .list .listIcon{
        width: 25px;
        margin-#{$end-direction}: 10px;
    }
    .inContent .container .box-white .serviceDetails .srvList .list .listText .ulIcons {
        padding: 50px 20px;
    }
    .inContent .container .box-white .serviceDetails .srvList .list .listText .ulIcons li p{
        font-size: 14px;
    }
    .inContent .container .box-white .serviceDetails .srvList .list .listText .ulIcons li{
        width: 175px;
        padding-#{$end-direction}: 30px;
    }
    .inContent .container .box-white .serviceDetails .srvList .list .listText .ulIcons li img{
        max-width: 110px;
    }
    .inContent .container .box-white .serviceDetails .srvList .list .listText .ulIcons li::after{
        top: 55px;
    }
    .about .container .content p{
        font-size: 22px;
    }
    .gallery .section-header,
    .Numbers .section-header{
        width: max-content;
        padding: 0 20px 15px;
    }
    .inContent .container .box-white .search-top select ,
    .inContent .container .box-white .search-top imput{
        margin-bottom: 0;
    }
    .inContent .container .box-white .search-top .left {
        margin-bottom: 20px;
    }
    
    .inner .main-Nav .bgNav .topNav .left-Icons .search-toggle{
        padding-#{$start-direction}:0 ;
        width: 28px;
    }
    .inner .main-Nav .bgNav .topNav .left-Icons .lang{
        width: 38px;
    }
    .main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .navbar-nav .nav-item {
        margin-#{$end-direction}: 15px;
    }
}

@media (max-width: 1199.68px){
    .marker-with-popup.sharqia {
        right: 110px;
        top: 395px;
    }
    .marker-with-popup.shamalia {
        right: 285px;
        top: 223px;
    }
    .marker-with-popup.gouf {
        right: 365px;
        top: 215px;
    }
    .marker-with-popup.tabuk {
        right: 415px;
        top: 255px;
    }
    .marker-with-popup.haael {
        right: 315px;
        top: 270px;
    }
    .marker-with-popup.madinah {
        right: 360px;
        top: 335px;
    }
    .marker-with-popup.makkah {
        right: 326px;
        top: 415px;
    }
    .marker-with-popup.reyadh {
        right: 225px;
        top: 389px;
    }
    .marker-with-popup.nagran {
        right: 222px;
        top: 500px;
    }
    .marker-with-popup.asser {
        right: 290px;
        top: 480px;
    }
    .marker-with-popup.baaha {
        right: 323px;
        top: 455px;
    }
    .marker-with-popup.gazan {
        right: 292px;
        top: 521px;
    }
    .marker-with-popup.qasim {
        right: 275px;
        top: 311px;
    }

    .inContent .container .box-white {
        .aboutUs {
            h4{
                font-size: 30px;
                margin-bottom: 30px;
            }
            p {
                font-size: 16px;
                line-height: 1.7;
                & + p{
                    margin-top: 40px;
                }
            }

        }
    }
    // .inContent .container .box-white .serviceBox{
    //     height: 255px;
    // }
    .inContent .container .box-white .serviceBox:hover .detailsHidden h4{
        margin-bottom: 15px;
    }
    .inContent .container .box-white .serviceBox:hover .detailsHidden p{
        font-size: 14px;
        padding: 0px 15px;
    }
    .inContent .container .box-white .serviceBox:hover .detailsHidden{
        margin-top: 0;
    }

    .about .container .content .section-header{
        font-size: 25px;
        margin-bottom: 40px;
    }
    .about .container .content p{
        font-size: 16px;
    }
    .inContent .container .box-white .section-header2{
        font-size: 30px;
    }
    .inContent .container .box-white .main-p{
        font-size: 16px;
    }
    .inContent .container .box-white .CompetenciesTop{
        margin: 0 50px 40px;
    }
    .inContent .container .box-white .events .event-banner .event-img{
        height: 470px;
    }
    .inContent .container .box-white .events .event-banner .content h2{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .inContent .container .box-white .events .event-banner .content .more{
        font-size: 16px;
    }
    .inContent .container .box-white .search-top select ,
    .inContent .container .box-white .search-top imput{
        margin-bottom: 20px;
    }

    .inContent .container .box-white .aboutUs h5{
        font-size: 16px;
    }
    .inContent .container .box-white .new-progCard .content-boxx h4{
        font-size: 20px;
    }
    .inContent .container .box-white .new-prog-a a{
        font-size: 16px;
        width: auto;
        height: auto;
        padding: 16px 30px;
        img{
            width: 35px;
            height: 35px;
            margin-#{$start-direction}: 30px;
        }
    }
    
    .inContent .container .box-white .cardNews{
        height: 418px;
    }
    .inContent .container .box-white .cardNews .CardImg{
        height: 220px;
    }
    .inContent .container .box-white .cardNews .cardText{
        height: 190px;
        padding: 15px 15px 10px;
    }
    .inContent .container .box-white .cardNews .cardText .title{
        font-size: 15px;
        margin-bottom: 12px;
        line-height: 24px;
        height: calc(24px* 2);
    }
    .inContent .container .box-white .cardNews .cardText .date span{
        font-size: 12px;
    }
    .inContent .container .box-white .cardNews .cardText .paraghCard{
        font-size: 14px;
        line-height: 22px;
        height: calc(22px* 3);
    }
    .inContent .container .box-white .serviceDetails .srvList .list .listText .ulIcons{
        padding: 50px 0;
    }

    .mainSlider .content-area{
        #{$start-direction}: 115px;
        top: 280px;
        max-width: 450px;
    }
    .mainSlider .content-area h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    .mainSlider .content-area a {
        width: 175px;
        height: 45px;
        font-size: 16px;
    }
    .thumbsSlider .content-area h2{
        font-size: 12px;
    }
    .mainSlider .swiper-scrollbar{
        #{$start-direction}: 140px;
    }
    .main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item .nav-link{
        font-size: 14px;
    }
    .main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item{
        margin-#{$end-direction}:20px ;
    }
    .main-Nav .bgNav .topNav .top-links a {
        font-size: 14px;
        padding-#{$start-direction}: 20px;
    }
    .org-chart {
        zoom: .6;
    }

    .inContent .container .box-white .aboutUs ul li {
        font-size: 18px;
    }
    .breadcrumb .pageTitle{
       font-size: 30px;
    }
    .main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .navbar-nav .nav-item .nav-link{
        font-size: 14px;
    }
}

@media (max-width: 991.68px){
    .map-area{
        height: auto;
    }
    .interactive-map .map-cont .main-content h2 {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .interactive-map .map-cont .navigation-links a{
        font-size: 14px;
    }
    .interactive-map .map-cont .tags-content {
        margin-top: 20px;
    }
    .interactive-map .map-cont .tags-content h3 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .interactive-map .map-cont .tags-content .details .numbers-data > div span,
    .interactive-map .map-cont .tags-content .details ul li,
    .interactive-map .map-cont .tags-content .details h5 {
        font-size: 14px;
    }
    .interactive-map .map-cont .tags-content .details h5{
        margin-bottom: 10px;
    }
    .interactive-map .map-cont .tags-content .details ul li{
        margin-#{$end-direction}: 20px;
    }
    .interactive-map .map-cont .tags-content .details .numbers-data > div .number {
        font-size: 25px;
    }
    .interactive-map .map-cont .svg-map{
        margin-right: 0;
        margin-top: 0;
    }

    .marker-with-popup.sharqia {
        right: 145px;
        top: 395px;
    }
    .marker-with-popup.shamalia {
        right: 360px;
        top: 185px;
    }
    .marker-with-popup.gouf {
        right: 490px;
        top: 165px;
    }
    .marker-with-popup.tabuk {
        right: 572px;
        top: 232px;
    }
    .marker-with-popup.haael {
        right: 415px;
        top: 256px;
    }
    .marker-with-popup.qasim {
        right: 375px;
        top: 297px;
    }
    .marker-with-popup.madinah {
        right: 480px;
        top: 335px;
    }
    .marker-with-popup.reyadh {
        right: 300px;
        top: 389px;
    }
    .marker-with-popup.makkah {
        right: 437px;
        top: 435px;
    }
    .marker-with-popup.baaha {
        right: 436px;
        top: 489px;
    }
    .marker-with-popup.asser {
        right: 386px;
        top: 513px;
    }
    .marker-with-popup.nagran {
        right: 300px;
        top: 552px;
    }
    .marker-with-popup.gazan {
        right: 400px;
        top: 584px;
    }

    .inContent .container .box-white .headBox .headImg{
        width: 170px;
        height: 170px;
    }

    .banner .container-fluid .item .imgbox1 .content h2{
        font-size: 27px;
    }
    .inContent .container .box-white .CompetenciesTop{
        margin: 0 15px 30px;
    }
    .inContent .container .box-white .contactMap .contactForm{
        padding: 60px 20px;
    }

    .inContent .container .box-white .events .event-banner .content{
        padding-top: 18%;
        width: 80%;
    }
    .inContent .container .box-white .events .event-banner .content h2 {
        font-size: 25px;
        padding-#{$end-direction}: 0;
    }
    .inContent .container .box-white .new-progCard{
        margin-bottom: 20px;
    }
    .inContent .container .box-white .search-top input{
        margin-bottom: 15px;
    }
    .inContent .container .box-white .newsDetails .newsTitle{
        font-size: 30px;
        line-height: 1.4;
    }

    .inContent .container .box-white .serviceDetails .srvStart{
        padding: 25px 15px;
    }
    .inContent .container .box-white .serviceDetails .srvStart h3{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .inContent .container .box-white .serviceDetails .srvStart Button{
        padding: 0 15px;
        font-size: 14px;
    }
    .inContent .container .serviceDetails .desc{
        padding: 0;
        margin-bottom: 30px;
    }
    .inContent .container .serviceDetails .desc h3 {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .inContent .container .box-white .serviceDetails .desc p{
        font-size: 16px;
    }
    .inContent .container .serviceDetails .list-title{
        font-size: 25px;
        margin-bottom: 25px;
    }
    .inContent .container .serviceDetails .srvList ul li::before{
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        font-size: 18px;
        margin-#{$end-direction}: 15px;
    }
    .inContent .container .serviceDetails .srvList ul li{
        font-size: 16px;
    }
    .inContent .container .box-white .serviceDetails .srvList .list .listText h3{
        font-size: 20px;
    }
    .inContent .container .box-white .serviceDetails .srvList .list .listText p{
        margin-bottom: 0;
        font-size: 14px;
    }
    .inContent .container .box-white .serviceDetails .srvList .list .listText ul li{
        margin-bottom: 5px;
        font-size: 14px;
    }
    .inContent .container .box-white .serviceDetails .srvList .list{
        margin-bottom: 25px;
    }
    
    .inContent .container .box-white .serviceDetails .srvList .list .listText .ulIcons {
        flex-direction: column;
        width: 100%;
        /* align-items: center; */
        justify-content: center;
    }
    
    .listText {
        width: 100%;
    }
    
    .inContent .container .box-white .serviceDetails .srvList .list .listText .ulIcons li {
        display: flex;
        width: auto;
        align-items: center;
        margin-bottom: 25px;
    }
    .inContent .container .box-white .serviceDetails .srvList .list .listText .ulIcons li img{
        max-width: 120px;
    }
    .inContent .container .box-white .serviceDetails .srvList .list .listText .ulIcons li p {
        margin: 0;
        margin-#{$start-direction}: 20px;
        height: auto;
    }
    
    .inContent .container .box-white .serviceDetails .srvList .list .listText .ulIcons li::after {
        width: 10px;
        height: 100%;
        #{$end-direction}: auto;
        #{$start-direction}: 53px;
    }

    section.sitemap ul.level-2 > li a{
        font-size: 18px;
    }
    section.sitemap ul.level-2 > li .level-3 li a {
        font-size: 16px;
    }
    .inContent .container .box-white .content-box .word-content h4{
        font-size: 20px;
    }
    .inContent .container .box-white .content-box .word-content p{
        font-size: 16px;
        margin-bottom: 25px;
    }
    .inContent .container .box-white .content-box .signature h6{
        font-size: 16px;
    }
    .inContent .container .box-white .content-box .signature h4{
        font-size: 18px;
    }

    .mainSlider .content-area{
            #{$start-direction}: 70px;
            max-width: 380px;
    }
    .mainSlider .content-area h2 {
        font-size: 27px;
        margin-bottom: 15px;
    }
    .mainSlider .swiper-scrollbar {
        #{$start-direction}: 70px;
    }
    .about .container .imgBox {
        height: 450px;
    }
    
    .about .container .imgBox img {
        width: auto;
        height: 100%;
        margin: 0 auto;
    }
    .gallery .container .tabsImage h4{
        font-size: 25px;
    }
    .gallery .container .tabsImage p{
        font-size: 18px;
    }

    footer .top-footer .footer-logo{
        text-align: center;
    }
    footer .top-footer .social-media{
        justify-content: center;
    }
    footer .top-footer h5{
        text-align: center;
        margin-top: 25px;
    }
    footer .top-footer ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .top-footer .contactUs ul li{
        min-width: 190px;
    }
    .main-Nav .bgNav .topNav{
        padding: 20px 20px 10px;
        justify-content: space-between;
        align-items: flex-start;
    }
    .main-Nav.fixedTop .bgNav .topNav .a-logo,
    .main-Nav .bgNav .topNav .a-logo{
        margin: 0;
        // max-width: 135px;
    }
    .main-Nav .bgNav .topNav .top-links a {
        font-size: 12px;
        padding-#{$start-direction}: 10px;
    }
    .main-Nav .bgNav .topNav .top-links .lang,
    .main-Nav.fixedTop .bgNav .topNav .top-links .lang{
        padding-#{$end-direction}: 0;
        background-image: none;
    }
    .main-Nav .bgNav .topNav .top-links .search-toggle{
        background-position: center;
    }
    .mainSlider .swiper-button-prev, .mainSlider.swiper-rtl .swiper-button-next{
        bottom: 200px;
        #{$end-direction}:60px
    }
    .mainSlider .swiper-button-next, .mainSlider.swiper-rtl .swiper-button-prev{
        bottom: 125px;
        #{$end-direction}:60px
    }

    .navbar-light .navbar-toggler{
        background-color: #fff;
        position: absolute;
        #{$end-direction}: 0;
        top: -20px;
        z-index: 5;
    }
    .main-Nav .bgNav .topNav {
        height: 100px;
    }
    .main-Nav .bgNav .topNav .main-navbar{
        position: absolute;
        width: 100%;
        #{$end-direction}: 0;
        top: 50px;
    }
    .main-Nav .bgNav .topNav .main-navbar .navbar{
        float: none;
        padding: 0;
    }
    .navbar-collapse {
        background-color: #fff;
        top: 40px;
        position: absolute;
        width: 100%;
        #{$end-direction}: 0;
        border-radius: 4px;
        box-shadow: 0 20px 20px #0000003d;
    }
    .main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item .nav-link {
        color: #333333;
    }
    
    .main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item {
        margin-#{$end-direction}: 0;
    }
    
    .navbar-nav {
        padding: 0 25px 20px;
    }
    
    .main-Nav .bgNav .topNav {
        height: 100px;
    }
    .main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item .nav-link::after{
        background-image: url(../images/shared/nav-arrow-b.svg);
    }

    .nashaa .nashaa-art .nashaa-card .content-bxx h4::before {
        display: none;
    }
    
    .nashaa .nashaa-art .nashaa-card .year {
        width: 100%;
        text-align: center !important;
        margin-bottom: 20px;
    }
    
    .nashaa .nashaa-art::before {
        display: none;
    }
    
    .nashaa .nashaa-art .nashaa-card .bullet-shape {
        display: none;
    }
    
    .nashaa .nashaa-art .nashaa-card .content-bxx {
        padding: 0 !important;
        width: 100% !important;
    }
    
    .nashaa .nashaa-art .nashaa-card {
        flex-direction: column-reverse !important;
    }
    
    .nashaa .nashaa-art .nashaa-card .content-bxx p {
        font-size: 16px;
    }
    
    .aboutNew-2 p {
        font-size: 16px;
    }
    
    .aboutNew-2 h3 {
        font-size: 25px;
    }
    
    .aboutNew-3 h3 {
        font-size: 25px;
    }
    
    .aboutNew-3 p {
        font-size: 16px;
    }
    
    .aboutNew-4 h3 {
        font-size: 25px;
    }
    
    .aboutNew-4 ul li::before {
        font-size: 18px;
        margin-#{$end-direction}: 15px;
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
    }
    
    .aboutNew-4 ul li {
        font-size: 16px;
    }
    .inContent .container .aboutUs.new-about{
        padding: 0;
    }
    .inContent .container .box-white .imgBox{
        max-width: 350px;
        margin-top: 20px;
    }
    .nashaa .nashaa-title{
        font-size: 25px;
        margin-bottom: 30px;
    }
    .nashaa .nashaa-art .nashaa-card .year{
        font-size: 30px;
    }
    .nashaa .nashaa-art .nashaa-card .content-bxx h4 {
        font-size: 20px;
    }
    .nashaa .nashaa-title .nashaa-border span {
        width: 65px;
    }
    .st-goals p {
        font-size: 16px;
    }
    .st-goals h3 {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .pageTitle h2{
        font-size: 20px;
    }
    .main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .navbar-nav .left-Icons {
        justify-content: center;
    }
    .main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .navbar-nav  {
        // color: #333333;
        background-color: $dark-blue;
    }
    .main-Nav.fixedTop .bgNav .topNav .main-navbar .navbar .nav-wrapper .navbar-nav,
    .inner .main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .navbar-nav{
        background-color: #fff;
    }
    .main-Nav .bgNav .topNav .left-Icons .search-box{
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        padding: 130px 40px;
    }
    .main-Nav .bgNav .topNav .left-Icons .search-box .search-full-area input[type="text"]{
        padding-#{$end-direction}: 7%;
        padding-#{$start-direction}: 10%;
    }
}

// Small Sizes 
@media (max-width: 767.68px) {
    // Main Menu
    // .main-Nav {
    //     display: none;       
    // }

    // HomeBanner 
    .banner {
        // Banners 
        .container-fluid {
        .item {
            .imgbox1 {
            .content {
                padding: 20px;
                position: relative;
                top: 25%;
                width: 100%;
                h2 {
                font-size: 20px;
                }
                p {
                font-size: 14px;
                }
                .more {
                font-size: 11px;
                }
            }
            }
        }
        }
    }

    // News
    .bgNews {
        height: 800px;
    
        // Card 
        .cardNews {
            height: 530px;
        }
    }

    // Partners
    .partners {
        padding: 50px;
    
        .item {
            width: 251px;
            height: 100px;
        }

        .owl-theme {
            .owl-nav {
              [class*="owl-"] {
                width: 30px;
                height: 30px;
              }
            }
            .owl-next {
              #{$end-direction}: -25px;
              #{$start-direction}: auto ;
            }
            .owl-prev {
              #{$start-direction}: -25px;
              #{$end-direction}: auto ;
            }
          }
    }
    
    // Footer 
    footer {
        // Top 
        .top-footer {   
            padding-#{$end-direction}: 30px;    
            .social-media {
                margin-bottom: 20px;
            }
        }

        // Bottom 
        .bottom-footer {
            .copyright{
                p {
                text-align: center;
                }
            }  
        }
    }


    .breadcrumb{
        min-height: auto;
        height: auto;
    }
    .breadcrumb .pageTitle{
        font-size: 25px;
        margin-top: 35px;
    }
    .contactMap .col-md-6{
        margin-bottom: 40px;
    }

    .inContent .container .box-white .search-top input[type=search]{
        margin-bottom: 20px;
    }
    .inContent .container .box-white .search-top .left{
        float: none;
    }
    .inContent .container .box-white .events .event-banner .event-img {
        height: 425px;
    }

    .inContent .container .box-white .events .eventBox .dateShape{
        width: 110px;
        height: 110px;
        flex: 0 0 110px;
    }
    .inContent .container .box-white .events .eventBox .dateShape .days {
        font-size: 18px;
    }
    .inContent .container .box-white .events .eventBox .dateShape .month {
        font-size: 10px;
    }

    .inContent .container .box-white .newsDetails .newsTitle{
        font-size: 25px;
    }

    .innerpages .accordion .card .card-header h2 .btn-link{
        font-size: 16px;
        padding-#{$end-direction}: 25px;
    }
    .innerpages .accordion .card .card-body ul{
        padding: 0 10px;
    }
    .innerpages .accordion .card .card-body ul li{
        font-size: 14px;
    }
    .inContent .container .box-white .aboutUs h5 {
        font-size: 14px;
    }
    .inContent .container .box-white .aboutUs span img {
        width: 20px;
        margin-#{$end-direction}: 8px;
    }
    .inContent .container .box-white .section-header{
        font-size: 25px;
    }
    .inContent .container .box-white .new-progCard .content-boxx h4 {
        font-size: 16px;
    }
    .inContent .container .box-white .new-progCard{
        height: 150px;
    }
    .inContent .container .box-white .new-prog-a{
        margin-top: 50px;
    }
    .inContent .container .box-white .new-prog-a a{
        font-size: 14px;
        padding: 12px 20px;
    }
    .inContent .container .box-white .new-prog-a a img{
        margin-#{$start-direction}:15px ;
    }
    .inContent .container .box-white form .form-group {
        margin-bottom: 15px;
    }
    
    .inContent .container .box-white form .row.mt-30 {
        margin-top: 0 !important;
    }
    .inContent .container .box-white form label{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .inContent .container .box-white form .form-control{
        font-size: 14px !important;
    }
    .inContent .container .box-white form select{
        background-size: 25px;
    }
    .inContent .container .box-white form select,
    .inContent .container .box-white form input{
        height: 50px;
    }
    .inContent .container .box-white form Button{
        padding: 0 25px;
    }
    .inContent .container .box-white .newsDetails .newsText p{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .inContent .container .box-white .newsDetails .relateNews .cardNews{
        height: 325px;
    }
    .inContent .container .box-white .newsDetails .relateNews .cardNews .cardText{
        height: 81px;
    }
    .inContent .container .box-white .newsDetails .relateNews .cardNews .cardText .title{
        height: calc(27px* 2);
    }

    .inContent .container .box-white .serviceDetails .srvStart{
        margin: 30px 0;
    }
    section.sitemap ul.level-2 > li {
        width: 100%;
    }

    .mainSlider .swiper-scrollbar{
        #{$start-direction}:30px
    }
    .mainSlider .content-area {
        #{$start-direction}: 30px;
        max-width: 200px;
    }
    .mainSlider .content-area h2 {
        font-size: 20px;
    }
    .mainSlider .content-area p{
        font-size: 14px;
        line-height: 22px;
        height: 44px;
    }
    .mainSlider .content-area a {
        width: 150px;
        height: 39px;
        font-size: 14px;
    }
    .mainSlider .content-area a img{
        margin-#{$start-direction}: 10px;
        max-width: 12px;
    }

    .thumbsSlider .content-area{
        padding: 0 5px;
    }
    .thumbsSlider .content-area h2 {
        font-size: 10px;
    }
    .about{
        padding: 85px 0;
    }
    .about .container .content .section-header{
        width: max-content;
        padding: 0 15px 15px;
        font-size: 20px;
    }
    .about .container .imgBox {
        height: 365px;
    }
    .gallery .section-header, .Numbers .section-header{
        font-size: 20px;
    }

    .gallery .container .tabsImage h4 {
        font-size: 18px;
    }
    .gallery .container .tabsImage h4 span{
        font-size: 18px;
        padding-#{$end-direction}: 15px;
    }
    .gallery .container .tabsImage p {
        font-size: 14px;
    }
    .gallery .container .tabsImage .imgbox{
        height: 150px;
    }
    .gallery .container .tabsImage .imgbox:hover{
        height: 380px;
    }
    .gallery{
        height: 935px;
    }
    .bgNews{
        height: auto;
    }
    .partners .section-header{
        width: max-content;
        padding: 0 15px 15px;
        font-size: 20px;
    }
    .main-Nav .bgNav .topNav .top-links{
        padding: 0;
    }

    .breadcrumb {
        min-height: auto;
        height: auto;
        padding-bottom: 20px;
    }
    .partners .item {
        width: 100%;
        height: 150px;
    }

    // main slider issue azure
    .mainSlider .content-area [data-aos^=fade][data-aos^=fade].aos-init {
        opacity: 1;
        transform: translateZ(0);
    }
    .thumbsSlider .content-area [data-aos^=fade][data-aos^=fade].aos-init {
        opacity: 1;
        transform: translateZ(0);
    }
}

@media (max-width: 574.68px) {
.interactive-map .map-cont .svg-map svg{
    width: 100%;
    height: 400px;
}
.marker-with-popup.reyadh {
    right: 180px;
    top: 225px;
}
.marker-with-popup.sharqia {
    right: 84px;
    top: 240px;
}
.marker-with-popup.shamalia {
    right: 223px;
    top: 90px;
}
.marker-with-popup.gouf {
    right: 290px;
    top: 85px;
}
.marker-with-popup.tabuk {
    right: 316px;
    top: 118px;
}
.marker-with-popup.haael {
    right: 244px;
    top: 137px;
}
.marker-with-popup.qasim {
    right: 216px;
    top: 162px;
}
.marker-with-popup.madinah {
    right: 280px;
    top: 190px;
}
.marker-with-popup.makkah {
    right: 255px;
    top: 235px;
}
.marker-with-popup.nagran {
    right: 180px;
    top: 310px;
}
.marker-with-popup.asser {
    right: 231px;
    top: 291px;
}
.marker-with-popup.baaha {
    right: 256px;
    top: 275px;
}
.marker-with-popup.gazan {
    right: 234px;
    top: 329px;
}
.interactive-map .map-cont .main-content{
    margin-top: 30px;
}
.interactive-map .map-cont .tags-content{
    margin-top: 10px;
}
.interactive-map .map-cont .main-content h2{
    font-size: 22px;
    margin-bottom: 20px;
}
.interactive-map .map-cont .tags-content h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

.inContent .container .box-white .aboutUs h4 {
    font-size: 20px;
}
.inContent .container .box-white .aboutUs p{
    font-size: 14px;
}
// .about .container .content .section-header{
//     font-size: 22px;
// }
.about .container .content p{
    font-size: 14px;
}

.inContent .container .box-white .CompetenciesTop{
   flex-direction: column;
   padding: 30px 20px;
}
.inContent .container .box-white .CompetenciesTop select{
    margin-bottom: 15px;
    width: 100%;
}
.inContent .container .box-white{
    padding: 70px 25px 65px;
}
.inContent .container .box-white .contactBox .address{
    font-size: 14px;
}
.inContent .container .box-white .contactBox .address span img {
    width: 25px;
}

.inContent .container .box-white .events .event-banner .content h2 {
    font-size: 20px;
}
.inContent .container .box-white .events .event-banner .content p {
    font-size: 14px;
}
.inContent .container .box-white .events .event-banner .content .more {
    font-size: 14px;
}
.inContent .container .box-white .newsDetails .newsText p{
    font-size: 14px;
}

.pagination {
    padding: 0;
    flex-wrap: wrap;
}
.inContent .container .box-white .pagination .page-link{
    padding: 5px 11px;
    margin-#{$end-direction}: 4px;
    width: 32px;
    height: 32px;
}
.breadcrumb .items li a{
    font-size: 14px;
    padding-#{$end-direction}: 20px;
}
.breadcrumb .items li a::after{
    #{$end-direction}: 5px;
    top: 5px;
    height: 10px;
    width: 6px;
}

.inContent .container .box-white .serviceDetails .srvList .list .listText .ulIcons li img{
    max-width: 85px;
}
.inContent .container .box-white .serviceDetails .srvList .list .listText .ulIcons li::after{
    #{$start-direction}:38px
}

.bgNews .cardNews .cardText {
    overflow: hidden;
}

.bgNews .cardNews .cardText .praghCard {
    font-size: 13px;
    line-height: 18px;
    height: calc(18px* 6);
    overflow: hidden;
}

.bgNews .owl-theme .owl-nav [class*="owl-"] {
    top: 90%;
}

.bgNews .cardNews::before {
    bottom: 55px;
}

.bgNews .owl-theme .owl-prev {
    #{$start-direction}: 40%;
    #{$end-direction}: auto;
}

.bgNews .owl-theme .owl-next {
    #{$end-direction}: 40%;
    #{$start-direction}: auto;
}



.aboutNew-2 p,
.nashaa .nashaa-art .nashaa-card .content-bxx p,
.aboutNew-3 p,
.aboutNew-4 ul li,
.st-goals p {
    font-size: 14px;
}



}

@media (max-width: 399.68px) {
    .marker-with-popup .marker img{
        width: 8px;
        height: 8px;
    }
    .marker-with-popup .map-popup .content-box p{
        font-size: 12px;
    }
    .marker-with-popup .map-popup::after{
        width: 17px;
        height: 8px;
        top: 95%;
    }
    .marker-with-popup .map-popup{
        top: -43px;
        right: -50px;
    }

    .marker-with-popup.reyadh {
        right: 156px;
        top: 210px;
    }
    .marker-with-popup.sharqia {
        right: 84px;
        top: 220px;
    }
    .marker-with-popup.shamalia {
        right: 190px;
        top: 109px;
    }
    .marker-with-popup.gouf {
        right: 255px;
        top: 99px;
    }
    .marker-with-popup.haael {
        right: 216px;
        top: 143px;
    }
    .marker-with-popup.qasim {
        right: 188px;
        top: 168px;
    }
    .marker-with-popup.tabuk {
        right: 282px;
        top: 130px;
    }
    .marker-with-popup.madinah {
        right: 241px;
        top: 190px;
    }
    .marker-with-popup.makkah {
        right: 227px;
        top: 235px;
    }
    .marker-with-popup.asser {
        right: 200px;
        top: 277px;
    }
    .marker-with-popup.nagran {
        right: 156px;
        top: 299px;
    }
    .marker-with-popup.baaha {
        right: 224px;
        top: 267px;
    }
    .marker-with-popup.gazan {
        right: 203px;
        top: 314px;
    }
    .main-Nav .bgNav .topNav .top-links a {
        font-size: 10px;
    }
    .interactive-map .map-cont .tags-content .details{
        width: auto;
    }

    .main-Nav.fixedTop .bgNav .topNav .a-logo, .main-Nav .bgNav .topNav .a-logo{
        width: 75%;
        margin-top: 15px;
    }
    .main-Nav .bgNav .topNav .left-Icons .search-box .search-full-area input[type="text"]{
        padding-#{$end-direction}: 11%;
        padding-#{$start-direction}: 12%;
        font-size: 12px;
    }
    .main-Nav .bgNav .topNav .left-Icons .search-box{
        padding: 130px 15px;
    }
    .main-Nav .bgNav .topNav .left-Icons .search-box .search-full-area .search-btn{
        top: 15px;
        #{$start-direction}: 1%;
    }
    .main-Nav .bgNav .topNav .left-Icons .search-box .search-full-area .exit-btn{
        top: 15px;
        max-width: 22px;
    }
}