// Fonts 
$font-ar: "NCSP-Regular";
$font-en: "NCSP-Regular";

$font-path: "../fonts/";
$img-path: "../images/";

// Colors
$dark-blue: #001F5E; 
$medium-blue: #003391;
$blue: #145FFF; 
$aqua: #35CCDE; 
$purple: #7A6AF7;
$grey: #6A787F;
$medium-grey: #CDD2D9;
$dark-text: #333333;
$bg-color: #F4F4F4; 
$white: #FFFFFF; 

//More
$raduis-normal : 8px;