/* LTR */
body {
  overflow: hidden !important;
}

html {
  overflow-x: hidden !important;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-Nav {
  position: fixed;
  width: 100%;
  z-index: 99999;
  background-color: transparent;
  left: 0;
}
.main-Nav .bgNav .topNav {
  padding-top: 25px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  align-items: center;
}
.main-Nav .bgNav .topNav .a-logo {
  display: block;
  margin-left: 60px;
}
.main-Nav .bgNav .topNav .a-logo .logo-color {
  display: none;
}
.main-Nav .bgNav .topNav .a-logo .logo-white {
  display: block;
}
.main-Nav .bgNav .topNav .top-links {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  padding-left: 10px;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 14px;
}
.main-Nav .bgNav .topNav .top-links .search-toggle {
  background-image: url("../images/shared/Search.svg");
  background-repeat: no-repeat;
}
.main-Nav .bgNav .topNav .top-links .lang {
  background-image: url("../images/shared/lang.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
}
.main-Nav .bgNav .topNav .top-links a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  padding-right: 30px;
}
.main-Nav .bgNav .topNav .top-links .search-box {
  right: 0;
  display: none;
  position: absolute !important;
  top: 70px;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  z-index: 9999 !important;
  width: 100% !important;
}
.main-Nav .bgNav .topNav .top-links .search-box .search-full-area {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.main-Nav .bgNav .topNav .top-links .search-box .search-full-area .search-btn {
  position: absolute;
  top: 30px;
  left: 11%;
  background: none;
  border: none;
  min-width: auto;
}
.main-Nav .bgNav .topNav .top-links .search-box .search-full-area input[type=text] {
  color: #FFFFFF;
  font-size: 16px;
  padding-right: 14%;
  padding-left: 13%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-color: rgba(0, 51, 145, 0.5);
  z-index: 9999;
}
.main-Nav .bgNav .topNav .top-links .search-box .search-full-area .exit-btn {
  position: absolute;
  top: 30px;
  right: 5.5%;
}
.main-Nav .bgNav .topNav .top-links .search-box .search-full-area ::-moz-placeholder {
  color: #FFFFFF;
}
.main-Nav .bgNav .topNav .top-links .search-box .search-full-area ::placeholder {
  color: #FFFFFF;
}
.main-Nav .bgNav .topNav .top-links .search-box .search-full-area ::-webkit-input-placeholder { /* Edge */
  color: #FFFFFF;
}
.main-Nav .bgNav .topNav .top-links .search-box .search-full-area :-ms-input-placeholder { /* Internet Explorer */
  color: #FFFFFF;
}
.main-Nav .bgNav .topNav .main-navbar .navbar {
  padding: 0;
  float: left;
}
.main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper {
  display: flex;
  width: 100%;
}
.main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item {
  margin-right: 40px;
}
.main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item:last-child {
  margin-right: 0;
}
.main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item .nav-link {
  font-size: 16px;
  color: #FFFFFF;
  transition: 300ms;
  padding: 0;
  padding-right: 16px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 16px;
}
.main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item .nav-link::after {
  background-image: url(../images/shared/nav-arrow.svg);
  border: none;
  position: absolute;
  width: 10px;
  height: 6px;
  right: 0;
  top: 43%;
  margin: 0;
}
.main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item .dropdown-menu {
  left: auto;
  right: auto;
  padding: 8px;
  color: #FFFFFF;
  background-color: #003391;
  border-radius: 0px;
  text-align: inherit;
  font-size: 13px;
  border: 0;
}
.main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item .dropdown-menu li {
  margin-bottom: 2px;
}
.main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item .dropdown-menu li:last-child {
  margin-bottom: 0;
}
.main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item .dropdown-menu li a {
  font-size: inherit;
  color: inherit;
  transition: 300ms;
  padding: 10px;
}
.main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item .dropdown-menu li a:hover {
  background-color: #145FFF;
}
.main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item:first-child .dropdown-menu {
  left: -100px;
}
.main-Nav.fixedTop {
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}
.main-Nav.fixedTop .bgNav .topNav {
  padding-top: 20px;
  padding-bottom: 10px;
}
.main-Nav.fixedTop .bgNav .topNav .a-logo {
  display: block;
  margin-left: 60px;
}
.main-Nav.fixedTop .bgNav .topNav .a-logo .logo-white {
  display: none;
}
.main-Nav.fixedTop .bgNav .topNav .a-logo .logo-color {
  display: block;
}
.main-Nav.fixedTop .bgNav .topNav .top-links {
  color: #333333;
}
.main-Nav.fixedTop .bgNav .topNav .top-links .search-toggle {
  background-image: url("../images/shared/Search-b.svg");
  background-repeat: no-repeat;
}
.main-Nav.fixedTop .bgNav .topNav .top-links .lang {
  background-image: url("../images/shared/lang-b.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
}
.main-Nav.fixedTop .bgNav .topNav .top-links a:hover {
  color: #145FFF;
}
.main-Nav.fixedTop .bgNav .topNav .top-links .search-box .search-full-area input[type=text] {
  background-color: rgba(0, 51, 145, 0.5);
}
.main-Nav.fixedTop .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item .nav-link {
  color: #333333;
}
.main-Nav.fixedTop .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item .nav-link::after {
  background-image: url(../images/shared/nav-arrow-b.svg);
}
.main-Nav.fixedTop .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item .nav-link:hover {
  color: #145FFF;
}

.banner .logo-img {
  position: absolute;
  z-index: 99;
  top: 30px;
  left: 10vw;
}
.banner .logo-img img {
  width: 100%;
  height: 100%;
}
.banner .container-fluid {
  padding: 0;
}
.banner .container-fluid .item {
  display: flex;
}
.banner .container-fluid .item .imgbox1 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../images/banner/banner1.png);
  background-size: cover;
  background-position: center;
  background-color: rgba(51, 51, 51, 0.8);
  background-blend-mode: multiply;
}
.banner .container-fluid .item .imgbox1 .content {
  padding-right: 140px;
  position: relative;
  top: 30%;
  width: 70%;
}
.banner .container-fluid .item .imgbox1 .content h2 {
  font-size: 32px;
  font-family: "NCSP-Medium";
  color: #FFFFFF;
  line-height: 1.6;
}
.banner .container-fluid .item .imgbox1 .content p {
  font-size: 16px;
  font-family: "NCSP-Light";
  color: #FFFFFF;
}
.banner .container-fluid .item .imgbox1 .content .more {
  font-size: 13px;
  font-family: "NCSP-Medium";
  color: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #35CCDE;
  background-color: #35CCDE;
  padding: 10px 20px;
  margin-top: 20px;
}
.banner .container-fluid .item .imgbox1 .content .more:hover {
  border: 1px solid #003391;
  background-color: #003391;
}
.banner .container-fluid .item .imgbox1 .content .more img {
  width: 28px;
  display: inline;
  padding-right: 8px;
}
.banner .container-fluid .item .imgbox2 {
  width: 15%;
  height: 100vh;
  background-image: url(../images/banner/banner2.png);
  background-size: cover;
  background-position: center;
  background-color: rgba(51, 51, 51, 0.7);
  background-blend-mode: multiply;
}
.banner .container-fluid .item .imgbox2:hover {
  width: 30%;
  cursor: pointer;
}
.banner .container-fluid .item .imgbox2 p {
  font-size: 14px;
  font-family: "NCSP-Medium";
  text-align: center;
  color: #FFFFFF;
  padding: 15px;
  position: relative;
  top: 30%;
}
.banner .container-fluid .item .imgbox3 {
  width: 15%;
  height: 100vh;
  background-image: url(../images/banner/banner3.png);
  background-size: cover;
  background-position: center;
  background-color: rgba(51, 51, 51, 0.7);
  background-blend-mode: multiply;
}
.banner .container-fluid .item .imgbox3:hover {
  width: 30%;
  cursor: pointer;
}
.banner .container-fluid .item .imgbox3 p {
  font-size: 14px;
  font-family: "NCSP-Medium";
  text-align: center;
  color: #FFFFFF;
  padding: 15px;
  position: relative;
  top: 30%;
}

.about {
  background-repeat: no-repeat;
  background-image: url(../images/pattern-color.svg);
  background-position: 220px 71px;
  background-size: 40%;
  padding: 150px 0;
}
.about .container .content {
  padding: 60px 40px;
  padding-left: 0;
}
.about .container .content .section-header {
  width: 23%;
  font-size: 30px;
  font-family: "NCSP-Medium";
  color: #001F5E;
  position: relative;
  padding-bottom: 15px;
  border-bottom: 2px solid #CDD2D9;
  margin-bottom: 30px;
}
.about .container .content .section-header::before, .about .container .content .section-header::after {
  content: "";
  width: 22px;
  height: 8px;
  border-radius: 7px 0px 7px 0px;
  border: 0 solid;
  position: absolute;
  transform: rotate(50deg);
}
.about .container .content .section-header::before {
  left: -33px;
  bottom: -2px;
  background: #35CCDE;
}
.about .container .content .section-header::after {
  left: -20px;
  bottom: 0px;
  background: #145FFF;
}
.about .container .content p {
  font-size: 20px;
  font-family: "NCSP-Light";
  color: #333333;
  line-height: 2;
  text-align: justify;
}
.about .container .imgBox {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.about .container .imgBox img {
  width: 80%;
  float: left;
}

.gallery {
  padding: 60px 0 150px;
  background-color: #F4F4F4;
  height: 1240px;
}
.gallery .section-header {
  width: 15%;
  font-size: 30px;
  font-family: "NCSP-Medium";
  color: #001F5E;
  position: relative;
  padding-bottom: 15px;
  border-bottom: 2px solid #CDD2D9;
  text-align: center;
}
.gallery .section-header::before, .gallery .section-header::after {
  content: "";
  width: 22px;
  height: 8px;
  border-radius: 7px 0px 7px 0px;
  border: 0 solid;
  position: absolute;
  transform: rotate(50deg);
}
.gallery .section-header::before {
  left: -33px;
  bottom: -2px;
  background: #35CCDE;
}
.gallery .section-header::after {
  left: -20px;
  bottom: 0px;
  background: #145FFF;
}
.gallery .centered {
  left: 50%;
  margin: auto;
  margin-bottom: 60px;
  position: inherit;
}
.gallery .container .tabsImage .imgbox {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 20px;
  position: relative;
  background-image: url(../images/gallery/gallery1.png);
  background-position: center;
  transition: 300ms;
}
.gallery .container .tabsImage .imgbox:last-of-type {
  margin-bottom: 0;
}
.gallery .container .tabsImage .imgbox:nth-child(2) {
  background-image: url(../images/gallery/gallery2.png);
  background-position: center;
}
.gallery .container .tabsImage .imgbox:nth-child(3) {
  background-image: url(../images/gallery/gallery3.png);
  background-position: center;
}
.gallery .container .tabsImage h4 {
  padding: 30px;
  color: #FFFFFF;
  font-size: 35px;
  font-family: "NCSP-Medium";
}
.gallery .container .tabsImage h4 span {
  padding-left: 10px;
  color: #FFFFFF;
  font-size: 30px;
  font-family: "NCSP-Light";
}
.gallery .container .tabsImage p {
  padding: 30px;
  color: #FFFFFF;
  font-size: 25px;
  position: absolute;
  bottom: 2%;
  opacity: 0;
}
.gallery .container .tabsImage .imgbox:hover {
  width: 100%;
  height: 505px;
  cursor: pointer;
}
.gallery .container .tabsImage .imgbox:hover p {
  opacity: 1;
}

.Numbers {
  padding: 80px 0 130px;
  background-color: #003391;
  background-image: url(../images/pattern.svg);
  background-position: -85px center;
  background-repeat: no-repeat;
}
.Numbers .section-header {
  width: 15%;
  font-size: 30px;
  font-family: "NCSP-Medium";
  color: #35CCDE;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 65px !important;
  border-bottom: 2px solid #CDD2D9;
  text-align: center;
}
.Numbers .section-header::before, .Numbers .section-header::after {
  content: "";
  width: 22px;
  height: 8px;
  border-radius: 7px 0px 7px 0px;
  border: 0 solid;
  position: absolute;
  transform: rotate(50deg);
}
.Numbers .section-header::before {
  left: -33px;
  bottom: -2px;
  background: #35CCDE;
}
.Numbers .section-header::after {
  left: -20px;
  bottom: 0px;
  background: #FFFFFF;
}
.Numbers .centered {
  left: 50%;
  margin: auto;
  position: inherit;
}
.Numbers .item .numCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 25px;
}
.Numbers .item .numCard .content-box {
  width: 170px;
}
.Numbers .item .numCard .content-box .centered {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.Numbers .item .numCard .content-box .centered h4 {
  font-size: 25px;
  font-family: "NCSP-Medium";
  color: #001F5E;
  direction: ltr;
  padding-bottom: 10px;
}
.Numbers .item .numCard .content-box .centered .counter {
  animation-duration: 1s;
  animation-delay: 0s;
}
.Numbers .item .numCard .content-box img {
  width: 165px;
}
.Numbers .item .numCard .content-box p {
  font-size: 20px;
  font-family: "NCSP-Medium";
  color: #FFFFFF;
  text-align: center;
  padding-top: 10px;
}

.map .mapBanner {
  height: 100vh;
  position: relative;
  padding-top: 100px;
}
.map .mapBanner .bgBox {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}
.map .mapBanner .bgBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.map .mapBanner .content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
.map .mapBanner .content-box h2 {
  font-size: 30px;
  font-family: "NCSP-Medium";
  color: #FFFFFF;
  padding-bottom: 15px;
}
.map .mapBanner .content-box .tags {
  margin-top: 0;
  padding: 0;
}
.map .mapBanner .content-box .tags ul.nav {
  color: #FFFFFF;
  padding-right: 0;
}
.map .mapBanner .content-box .tags ul.nav li {
  font-size: 12px;
  font-family: "NCSP-Medium";
  margin-right: 5px;
  margin-bottom: 10px;
}
.map .mapBanner .content-box .tags ul.nav li button {
  width: 100%;
  height: 30px;
  color: inherit;
  padding-top: 5px;
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
}
.map .mapBanner .content-box .tags ul.nav li button.active {
  color: #FFFFFF;
  border: 1px solid #001F5E;
  background: #001F5E;
}
.map .mapBanner .content-box .tags ul.nav li:last-child {
  margin-right: 0;
}
.map .mapBanner .content-box .numBox h1 {
  color: #FFFFFF;
  font-size: 40px;
  font-family: "NCSP-Medium";
  padding-top: 30px;
  padding-bottom: 30px;
}
.map .mapBanner .content-box .numBox .Num {
  color: #FFFFFF;
  padding: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  width: 50%;
}
.map .mapBanner .content-box .numBox .Num ul {
  display: flex;
  padding-right: 10px;
}
.map .mapBanner .content-box .numBox .Num ul li {
  list-style-type: disc;
  padding-left: 30px;
}
.map .mapBanner .content-box .numBox .number {
  font-size: 35px;
  font-family: "NCSP-Bold";
  margin: 0;
  padding: 0;
}
.map .mapBanner .mapBox {
  position: relative;
}
.map .mapBanner .mapBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bgNews {
  background-image: url("../images/pattern.svg");
  background-repeat: no-repeat;
  background: rgb(0, 51, 145);
  background: linear-gradient(180deg, rgb(0, 51, 145) 0%, rgb(20, 95, 255) 100%);
}
.bgNews .news-tabs {
  margin-top: 70px;
}
.bgNews .news-tabs ul.nav {
  color: #FFFFFF;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0;
  background-color: transparent;
}
.bgNews .news-tabs ul.nav li {
  width: 150px;
  height: 50px;
  margin-right: 10px;
  background-color: transparent;
  font-size: 14px;
  font-family: "NCSP-Medium";
  border-radius: 25px;
}
.bgNews .news-tabs ul.nav li button {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "NCSP-Medium";
  font-weight: inherit;
  color: inherit;
  transition: 300ms;
  border-radius: 25px;
  border: 1px solid #FFFFFF;
}
.bgNews .news-tabs ul.nav li button.active {
  border: 1px solid #145FFF;
  background: linear-gradient(90deg, #7A6AF7 0%, #35CCDE 0%, #145FFF 100%);
}
.bgNews .news-tabs ul.nav li:last-child {
  margin-right: 0;
}
.bgNews .news-tabs .more {
  width: 150px;
  height: 50px;
  color: #FFFFFF;
  font-size: 16px;
  font-family: "NCSP-Medium";
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  padding: 5px 20px;
  text-align: center;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bgNews .news-tabs .more:hover {
  background-color: #001F5E;
  border: 1px solid #001F5E;
}
.bgNews .cardNews {
  transition: 0.3s;
  height: 480px;
  margin-bottom: 50px;
  position: relative;
  border-radius: 20px;
  position: relative;
}
.bgNews .cardNews::before {
  content: "";
  position: absolute;
  width: 96%;
  height: 50%;
  bottom: 5px;
  left: -3px;
  border-radius: 50px;
  background-color: #7A6AF7;
  z-index: -1;
  transform: rotate(-6deg);
}
.bgNews .cardNews .forClick {
  position: absolute;
  width: 100%;
  height: 100%;
}
.bgNews .cardNews .CardImg {
  height: 240px;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.bgNews .cardNews .CardImg img {
  height: 100%;
  max-width: 100%;
  transition: 0.3s;
  width: 100%;
}
.bgNews .cardNews:hover .CardImg {
  height: 240px;
}
.bgNews .cardNews:hover .CardImg img {
  transform: scale(1.2);
}
.bgNews .cardNews .cardText {
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 0 0 20px 20px;
}
.bgNews .cardNews .cardText .title {
  color: #001F5E;
  font-size: 16px;
  font-family: "NCSP-Medium";
  margin-bottom: 15px;
  line-height: 27px;
  height: 54px;
}
.bgNews .cardNews .cardText .date {
  margin-bottom: 6px;
  display: flex;
  line-height: 18px;
  height: 18px;
}
.bgNews .cardNews .cardText .date span {
  color: #145FFF;
  font-size: 12px;
  font-family: "NCSP-Regular";
  padding-left: 5px;
  line-height: 18px;
  height: 18px;
}
.bgNews .cardNews .cardText .date img {
  max-width: 16px;
}
.bgNews .cardNews .cardText .paraghCard {
  font-size: 15px;
  font-family: "NCSP-Light";
  color: #333333;
  line-height: 21px;
  height: 84px;
}
.bgNews .centered {
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  margin-bottom: 20px;
  position: inherit;
}

.partners {
  background-color: #FFFFFF;
  padding: 60px 0 90px;
}
.partners .section-header {
  width: 10%;
  font-size: 26px;
  font-family: "NCSP-Medium";
  color: #001F5E;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 40px;
  border-bottom: 2px solid #CDD2D9;
  text-align: center;
}
.partners .section-header::before, .partners .section-header::after {
  content: "";
  width: 22px;
  height: 8px;
  border-radius: 7px 0px 7px 0px;
  border: 0 solid;
  position: absolute;
  transform: rotate(50deg);
}
.partners .section-header::before {
  left: -33px;
  bottom: -2px;
  background: #35CCDE;
}
.partners .section-header::after {
  left: -20px;
  bottom: 0px;
  background: #145FFF;
}
.partners .centered {
  left: 50%;
  margin: auto;
  position: sticky;
  margin-bottom: 95px;
  transform: translateX(-50%);
}
.partners .item {
  width: 300px;
  height: 120px;
  background-color: #FFFFFF;
  border: 1px solid #CDD2D9;
  border-radius: 15px;
}
.partners .item .logoBox img {
  filter: unset;
}
.partners .item .logoBox:hover img {
  filter: grayscale(1);
  transition: all 0.5s;
}

footer {
  color: #FFFFFF;
  background-color: #001F5E;
}
footer .top-footer {
  padding: 70px 0;
}
footer .top-footer .footer-logo {
  margin-bottom: 24px;
}
footer .top-footer .social-media {
  display: flex;
}
footer .top-footer .social-media a {
  display: flex;
  margin-right: 28px;
  align-items: center;
  justify-content: center;
}
footer .top-footer .social-media a:last-child {
  margin-left: 0;
}
footer .top-footer .social-media a img {
  max-height: 20px;
}
footer .top-footer h5 {
  font-size: 17px;
  font-family: "NCSP-Medium";
  margin-bottom: 15px;
}
footer .top-footer ul {
  list-style: none;
  padding: 0;
}
footer .top-footer ul li {
  font-size: 14px;
  margin-bottom: 5px;
}
footer .top-footer ul li:last-child {
  margin-bottom: 0;
}
footer .top-footer ul li a {
  color: #FFFFFF;
}
footer .top-footer ul li a:hover {
  color: #35CCDE;
}
footer .top-footer .contactUs ul li:nth-child(2) a {
  direction: ltr;
  display: inline-block;
}
footer .top-footer .contactUs img {
  width: 32px;
  margin-left: 5px;
}
footer .bottom-footer {
  background-color: #001F5E;
}
footer .bottom-footer .copyright {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer .bottom-footer .copyright::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #003391;
  top: 0;
}
footer .bottom-footer .copyright p {
  font-size: 13px;
  font-family: "NCSP-Regular";
  margin-bottom: 0;
}

/* PAGES */
.inner .main-Nav {
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}
.inner .main-Nav .bgNav .topNav {
  padding-top: 30px;
  padding-bottom: 20px;
}
.inner .main-Nav .bgNav .topNav .a-logo {
  display: block;
  margin-left: 60px;
}
.inner .main-Nav .bgNav .topNav .top-links {
  color: #333333;
}
.inner .main-Nav .bgNav .topNav .top-links .search-toggle {
  background-image: url("../images/shared/Search-b.svg");
  background-repeat: no-repeat;
}
.inner .main-Nav .bgNav .topNav .top-links .lang {
  background-image: url("../images/shared/lang-b.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
}
.inner .main-Nav .bgNav .topNav .top-links a:hover {
  color: #145FFF;
}
.inner .main-Nav .bgNav .topNav .top-links .search-box .search-full-area input[type=text] {
  background-color: rgba(0, 51, 145, 0.5);
}
.inner .main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item .nav-link {
  color: #333333;
}
.inner .main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item .nav-link::after {
  background-image: url(../images/shared/nav-arrow-b.svg);
}
.inner .main-Nav .bgNav .topNav .main-navbar .navbar .nav-wrapper .nav-item .nav-link:hover {
  color: #145FFF;
}

.breadcrumb {
  height: 200px;
  background-color: #7A6AF7;
  background-image: url(../images/bread-pattern.svg);
  background-size: cover;
  margin-bottom: 0;
}
.breadcrumb .items {
  margin: 0;
  height: 60px;
  align-items: center;
  display: flex;
}
.breadcrumb .items li .home img {
  width: 16px;
}
.breadcrumb .items li a {
  font-size: 13px;
  font-family: "NCSP-Regular";
  color: #FFFFFF;
  margin-right: 5px;
  position: relative;
  padding-right: 20px;
}
.breadcrumb .items li a::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 5px;
  height: 10px;
  width: 5px;
  background-image: url(../images/shared/Arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.breadcrumb .items li span {
  font-size: 13px;
  font-family: "NCSP-Regular";
  color: #FFFFFF;
}
.breadcrumb .pageTitle {
  font-size: 26px;
  font-family: "NCSP-Regular";
  color: #FFFFFF;
  padding-top: 30px;
  padding-right: 40px;
}

.inContent {
  height: auto;
  background-color: #F4F4F4;
}
.inContent .soon h2 {
  text-align: center;
  font-size: 40px;
  font-family: "NCSP-Medium";
  color: #003391;
  padding: 50px 0;
}
.inContent .soon img {
  max-height: 500px;
  width: auto;
  padding-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.inContent .container {
  padding: 40px 0;
}
.inContent .container .box-white {
  padding: 50px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.01);
}
.inContent .container .box-white ul.nav {
  color: #FFFFFF;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0;
  background-color: transparent;
}
.inContent .container .box-white ul.nav li {
  width: auto;
  height: 50px;
  margin-right: 10px;
  background-color: transparent;
  font-size: 14px;
  font-family: "NCSP-Medium";
  border-radius: 25px;
}
.inContent .container .box-white ul.nav li button {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "NCSP-Medium";
  font-weight: inherit;
  color: #145FFF;
  transition: 300ms;
  border-radius: 25px;
  border: 1px solid #145FFF;
  padding: 0 30px;
}
.inContent .container .box-white ul.nav li button.active {
  color: #FFFFFF;
  border: 0px solid;
  background: linear-gradient(90deg, #7A6AF7 0%, #35CCDE 0%, #145FFF 100%);
}
.inContent .container .box-white ul.nav li:last-child {
  margin-right: 0;
}
.inContent .container .box-white .content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 10px;
}
.inContent .container .box-white .content-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 35px;
  height: 25px;
  background-image: url(../images/internal/bxs-quote-alt-start.svg);
  background-repeat: no-repeat;
}
.inContent .container .box-white .content-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35px;
  height: 25px;
  background-image: url(../images/internal/bxs-quote-alt-end.svg);
  background-repeat: no-repeat;
}
.inContent .container .box-white .content-box .word-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.inContent .container .box-white .content-box .word-content h4 {
  font-size: 17px;
  font-family: "NCSP-Medium";
  color: #001F5E;
  text-align: center;
}
.inContent .container .box-white .content-box .word-content p {
  font-size: 17px;
  color: #145FFF;
  margin-bottom: 0px;
}
.inContent .container .box-white .content-box .word-content p:last-child {
  margin-bottom: 0;
}
.inContent .container .box-white .content-box .signature {
  font-size: 16px;
  color: #145FFF;
  margin-bottom: 0;
  align-self: flex-end;
}

@font-face {
  font-family: "NCSP-Light";
  src: url("../fonts/NeoSansArabicLight.ttf");
}
@font-face {
  font-family: "NCSP-Regular";
  src: url("../fonts/NeoSansArabicRegular.ttf");
}
@font-face {
  font-family: "NCSP-Medium";
  src: url("../fonts/NeoSansArabicMedium.ttf");
}
@font-face {
  font-family: "NCSP-Bold";
  src: url("../fonts/NeoSansArabicBold.ttf");
}
body {
  font-family: "NCSP-Regular";
  direction: ltr;
  text-align: left;
}

html[dir=rtl] body {
  font-family: "NCSP-Regular";
}

*,
*:focus,
*:active,
button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.strong {
  font-weight: bold;
}

ol {
  list-style: decimal;
  line-height: 32px;
}
ol li {
  padding-left: 10px;
}

.text-left {
  text-align: right !important;
}

.text-right {
  text-align: left !important;
}

.float-left {
  float: right !important;
}

.float-right {
  float: left !important;
}

body .owl-theme .owl-nav [class*=owl-] {
  width: 40px;
  height: 40px;
  background: #145FFF;
  border-radius: 20px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
body .owl-theme .owl-nav [class*=owl-]:hover {
  background: #001F5E;
}
body .owl-theme .owl-next {
  right: -73px;
  left: auto;
}
body .owl-theme .owl-prev {
  left: -73px;
  right: auto;
}

/************************************************
                                                       index map
*************************************************/
.interactive-map .map-cont {
  position: relative;
}
.interactive-map .map-cont .main-content {
  margin-top: 80px;
}
.interactive-map .map-cont .main-content h2 {
  font-size: 40px;
  font-family: "NCSP-Bold";
  color: #FFFFFF;
  position: relative;
  margin-bottom: 55px;
}
.interactive-map .map-cont .navigation-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.interactive-map .map-cont .navigation-links a {
  margin-bottom: 10px;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-family: "NCSP-Regular";
  padding: 5px 10px;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  margin-right: 5px;
  transition: 500ms;
}
.interactive-map .map-cont .navigation-links a.active {
  background-color: #001F5E;
  position: relative;
  border: none;
}
.interactive-map .map-cont .tags-content {
  margin-top: 50px;
}
.interactive-map .map-cont .tags-content h3 {
  font-size: 50px;
  font-family: "NCSP-Medium";
  color: #FFFFFF;
  margin-bottom: 65px;
}
.interactive-map .map-cont .tags-content .details {
  border: 1.5px solid #FFFFFF;
  border-radius: 16px;
  background-color: transparent;
  padding: 25px 28px;
  width: 340px;
}
.interactive-map .map-cont .tags-content .details h5 {
  font-size: 20px;
  font-family: "NCSP-Regular";
  color: #FFFFFF;
  margin-bottom: 18px;
}
.interactive-map .map-cont .tags-content .details ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
}
.interactive-map .map-cont .tags-content .details ul li {
  font-size: 20px;
  font-family: "NCSP-Regular";
  color: #FFFFFF;
  margin-right: 25px;
  padding-left: 15px;
  position: relative;
}
.interactive-map .map-cont .tags-content .details ul li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 40%;
  border-radius: 50%;
  left: 0;
  background-color: #FFFFFF;
}
.interactive-map .map-cont .tags-content .details .numbers-data {
  display: flex;
  flex-direction: row;
}
.interactive-map .map-cont .tags-content .details .numbers-data > div .number {
  display: block;
  font-size: 45px;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.interactive-map .map-cont .tags-content .details .numbers-data > div span {
  display: block;
  font-size: 20px;
  font-family: "NCSP-Regular";
  color: #FFFFFF;
}
.interactive-map .map-cont .tags-content .details .numbers-data > div:first-of-type {
  padding-right: 25px;
  margin-right: 25px;
  position: relative;
}
.interactive-map .map-cont .tags-content .details .numbers-data > div:first-of-type::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 60%;
  top: 30%;
  right: 0;
  background-color: #FFFFFF;
}
.interactive-map .map-cont .svg-map {
  margin-left: -50px;
  position: relative;
  margin-top: 115px;
}
.interactive-map .map-cont .svg-map svg {
  width: 95%;
}
.interactive-map .map-cont .svg-map svg path {
  transition: 500ms;
  fill: transparent;
}
.interactive-map .map-cont .svg-map svg path.active-sec {
  fill: rgba(255, 255, 255, 0.35);
}
.marker-with-popup {
  position: absolute;
}
.marker-with-popup .marker {
  position: relative;
}
.marker-with-popup .map-popup {
  width: auto;
  min-height: 32px;
  background-color: #001F5E;
  border-radius: 16px;
  position: absolute;
  top: -52px;
  left: -55px;
  z-index: 9;
}
.marker-with-popup .map-popup::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 13px;
  left: 49%;
  top: 98%;
  z-index: -1;
  background-image: url(../images/map/map-Polygon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(50%);
}
.marker-with-popup .map-popup .content-box {
  padding: 5px 17px;
}
.marker-with-popup .map-popup .content-box a.close-pop {
  float: right;
  margin-top: -10px;
  margin-right: -20px;
}
.marker-with-popup .map-popup .content-box p {
  font-size: 16px;
  font-family: "NCSP-Regular";
  color: #FFFFFF;
  margin-bottom: 0;
  white-space: nowrap;
}
.marker-with-popup.reyadh {
  right: 305px;
  top: 415px;
}
.marker-with-popup.makkah {
  right: 450px;
  top: 430px;
}
.marker-with-popup.madinah {
  right: 490px;
  top: 340px;
}
.marker-with-popup.tabuk {
  right: 560px;
  top: 225px;
}
.marker-with-popup.haael {
  right: 430px;
  top: 245px;
}
.marker-with-popup.qasim {
  right: 365px;
  top: 295px;
}
.marker-with-popup.gouf {
  right: 505px;
  top: 175px;
}
.marker-with-popup.shamalia {
  right: 380px;
  top: 180px;
}
.marker-with-popup.sharqia {
  right: 140px;
  top: 400px;
}
.marker-with-popup.nagran {
  right: 300px;
  top: 555px;
}
.marker-with-popup.asser {
  right: 395px;
  top: 520px;
}
.marker-with-popup.gazan {
  right: 402px;
  top: 587px;
}
.marker-with-popup.baaha {
  right: 442px;
  top: 490px;
}

.map-area {
  position: relative;
  height: 960px;
}
.map-area .map-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -5;
}
.map-area .map-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0, 51, 145);
  background: linear-gradient(301deg, rgb(0, 51, 145) 0%, rgba(17, 89, 240, 0.1516981793) 50%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}
.map-area .map-bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000000;
  opacity: 0.4;
  z-index: 1;
}
.map-area .map-bg > div {
  width: 100%;
  height: 100%;
}
.map-area .map-bg > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1400px) {
  .custom-cont {
    max-width: 1640px;
  }
}
@media (max-width: 1399.68px) {
  .marker-with-popup.reyadh {
    right: 260px;
    top: 389px;
  }
  .marker-with-popup.shamalia {
    right: 325px;
    top: 205px;
  }
  .marker-with-popup.gouf {
    right: 425px;
    top: 195px;
  }
  .marker-with-popup.tabuk {
    right: 480px;
    top: 241px;
  }
  .marker-with-popup.madinah {
    right: 420px;
    top: 350px;
  }
  .marker-with-popup.makkah {
    right: 385px;
    top: 430px;
  }
  .marker-with-popup.gazan {
    right: 350px;
    top: 553px;
  }
  .marker-with-popup.nagran {
    right: 265px;
    top: 525px;
  }
  .marker-with-popup.haael {
    right: 370px;
    top: 270px;
  }
  .marker-with-popup.qasim {
    right: 325px;
    top: 300px;
  }
  .marker-with-popup.asser {
    right: 340px;
    top: 500px;
  }
  .marker-with-popup.baaha {
    right: 383px;
    top: 473px;
  }
  .interactive-map .map-cont .main-content h2 {
    font-size: 30px;
    margin-bottom: 35px;
  }
  .interactive-map .map-cont .tags-content {
    margin-top: 35px;
  }
  .interactive-map .map-cont .tags-content h3 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .interactive-map .map-cont .tags-content .details .numbers-data > div .number {
    font-size: 35px;
  }
  .interactive-map .map-cont .tags-content .details .numbers-data > div span,
  .interactive-map .map-cont .tags-content .details ul li,
  .interactive-map .map-cont .tags-content .details h5 {
    font-size: 18px;
  }
  .interactive-map .map-cont .svg-map {
    margin-top: 30px;
  }
}
@media (max-width: 1199.68px) {
  .marker-with-popup.sharqia {
    right: 110px;
    top: 395px;
  }
  .marker-with-popup.shamalia {
    right: 285px;
    top: 223px;
  }
  .marker-with-popup.gouf {
    right: 365px;
    top: 215px;
  }
  .marker-with-popup.tabuk {
    right: 415px;
    top: 255px;
  }
  .marker-with-popup.haael {
    right: 315px;
    top: 270px;
  }
  .marker-with-popup.madinah {
    right: 360px;
    top: 335px;
  }
  .marker-with-popup.makkah {
    right: 326px;
    top: 415px;
  }
  .marker-with-popup.reyadh {
    right: 225px;
    top: 389px;
  }
  .marker-with-popup.nagran {
    right: 222px;
    top: 500px;
  }
  .marker-with-popup.asser {
    right: 290px;
    top: 480px;
  }
  .marker-with-popup.baaha {
    right: 323px;
    top: 455px;
  }
  .marker-with-popup.gazan {
    right: 292px;
    top: 521px;
  }
  .marker-with-popup.qasim {
    right: 275px;
    top: 311px;
  }
}
@media (max-width: 991.68px) {
  .map-area {
    height: auto;
  }
  .interactive-map .map-cont .main-content h2 {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .interactive-map .map-cont .navigation-links a {
    font-size: 14px;
  }
  .interactive-map .map-cont .tags-content {
    margin-top: 20px;
  }
  .interactive-map .map-cont .tags-content h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .interactive-map .map-cont .tags-content .details .numbers-data > div span,
  .interactive-map .map-cont .tags-content .details ul li,
  .interactive-map .map-cont .tags-content .details h5 {
    font-size: 14px;
  }
  .interactive-map .map-cont .tags-content .details h5 {
    margin-bottom: 10px;
  }
  .interactive-map .map-cont .tags-content .details ul li {
    margin-right: 20px;
  }
  .interactive-map .map-cont .tags-content .details .numbers-data > div .number {
    font-size: 25px;
  }
  .interactive-map .map-cont .svg-map {
    margin-right: 0;
    margin-top: 0;
  }
  .marker-with-popup.sharqia {
    right: 145px;
    top: 395px;
  }
  .marker-with-popup.shamalia {
    right: 360px;
    top: 185px;
  }
  .marker-with-popup.gouf {
    right: 490px;
    top: 165px;
  }
  .marker-with-popup.tabuk {
    right: 572px;
    top: 232px;
  }
  .marker-with-popup.haael {
    right: 415px;
    top: 256px;
  }
  .marker-with-popup.qasim {
    right: 375px;
    top: 297px;
  }
  .marker-with-popup.madinah {
    right: 480px;
    top: 335px;
  }
  .marker-with-popup.reyadh {
    right: 300px;
    top: 389px;
  }
  .marker-with-popup.makkah {
    right: 437px;
    top: 435px;
  }
  .marker-with-popup.baaha {
    right: 436px;
    top: 489px;
  }
  .marker-with-popup.asser {
    right: 386px;
    top: 513px;
  }
  .marker-with-popup.nagran {
    right: 300px;
    top: 552px;
  }
  .marker-with-popup.gazan {
    right: 400px;
    top: 584px;
  }
}
@media (max-width: 767.68px) {
  .main-Nav {
    display: none;
  }
  .banner .container-fluid .item .imgbox1 .content {
    padding: 20px;
    position: relative;
    top: 25%;
    width: 100%;
  }
  .banner .container-fluid .item .imgbox1 .content h2 {
    font-size: 20px;
  }
  .banner .container-fluid .item .imgbox1 .content p {
    font-size: 14px;
  }
  .banner .container-fluid .item .imgbox1 .content .more {
    font-size: 11px;
  }
  .bgNews {
    height: 800px;
  }
  .bgNews .cardNews {
    height: 530px;
  }
  .partners {
    padding: 50px;
  }
  .partners .item {
    width: 251px;
    height: 100px;
  }
  .partners .owl-theme .owl-nav [class*=owl-] {
    width: 30px;
    height: 30px;
  }
  .partners .owl-theme .owl-next {
    right: -25px;
    left: auto;
  }
  .partners .owl-theme .owl-prev {
    left: -25px;
    right: auto;
  }
  footer .top-footer {
    padding-right: 30px;
  }
  footer .top-footer .social-media {
    margin-bottom: 20px;
  }
  footer .bottom-footer .copyright p {
    text-align: center;
  }
}
@media (max-width: 574.68px) {
  .interactive-map .map-cont .svg-map svg {
    width: 100%;
    height: 400px;
  }
  .marker-with-popup.reyadh {
    right: 180px;
    top: 225px;
  }
  .marker-with-popup.sharqia {
    right: 84px;
    top: 240px;
  }
  .marker-with-popup.shamalia {
    right: 223px;
    top: 90px;
  }
  .marker-with-popup.gouf {
    right: 290px;
    top: 85px;
  }
  .marker-with-popup.tabuk {
    right: 316px;
    top: 118px;
  }
  .marker-with-popup.haael {
    right: 244px;
    top: 137px;
  }
  .marker-with-popup.qasim {
    right: 216px;
    top: 162px;
  }
  .marker-with-popup.madinah {
    right: 280px;
    top: 190px;
  }
  .marker-with-popup.makkah {
    right: 255px;
    top: 235px;
  }
  .marker-with-popup.nagran {
    right: 180px;
    top: 310px;
  }
  .marker-with-popup.asser {
    right: 231px;
    top: 291px;
  }
  .marker-with-popup.baaha {
    right: 256px;
    top: 275px;
  }
  .marker-with-popup.gazan {
    right: 234px;
    top: 329px;
  }
  .interactive-map .map-cont .main-content {
    margin-top: 30px;
  }
  .interactive-map .map-cont .tags-content {
    margin-top: 10px;
  }
  .interactive-map .map-cont .main-content h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .interactive-map .map-cont .tags-content h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }
}
@media (max-width: 399.68px) {
  .marker-with-popup .marker img {
    width: 8px;
    height: 8px;
  }
  .marker-with-popup .map-popup .content-box p {
    font-size: 12px;
  }
  .marker-with-popup .map-popup::after {
    width: 17px;
    height: 8px;
    top: 95%;
  }
  .marker-with-popup .map-popup {
    top: -43px;
    right: -50px;
  }
  .marker-with-popup.reyadh {
    right: 156px;
    top: 210px;
  }
  .marker-with-popup.sharqia {
    right: 84px;
    top: 220px;
  }
  .marker-with-popup.shamalia {
    right: 190px;
    top: 109px;
  }
  .marker-with-popup.gouf {
    right: 255px;
    top: 99px;
  }
  .marker-with-popup.haael {
    right: 216px;
    top: 143px;
  }
  .marker-with-popup.qasim {
    right: 188px;
    top: 168px;
  }
  .marker-with-popup.tabuk {
    right: 282px;
    top: 130px;
  }
  .marker-with-popup.madinah {
    right: 241px;
    top: 190px;
  }
  .marker-with-popup.makkah {
    right: 227px;
    top: 235px;
  }
  .marker-with-popup.asser {
    right: 200px;
    top: 277px;
  }
  .marker-with-popup.nagran {
    right: 156px;
    top: 299px;
  }
  .marker-with-popup.baaha {
    right: 224px;
    top: 267px;
  }
  .marker-with-popup.gazan {
    right: 203px;
    top: 314px;
  }
}/*# sourceMappingURL=styleLTR.css.map */